confirma_pagamento.json
{
  "name": "confirma_pagamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d0d2fcf-91c4-4233-a836-d33fb64f2bb8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -48,
        -272
      ],
      "id": "944c6ff4-279d-434d-9f7c-41d2949b9376",
      "name": "Webhook",
      "webhookId": "9d0d2fcf-91c4-4233-a836-d33fb64f2bb8"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.formattedPhone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "assinatura_ativa",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        -272
      ],
      "id": "e9dc546b-9673-42c6-8030-50eeffc0f027",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let phone =  $input.first().json.body.data.object.customer_details.phone|| '';\n\n  // Remove tudo que não for número\n  phone = phone.replace(/\\D/g, '');\n\n  // Se começar com 0 e tiver 12 dígitos, remove o primeiro 0\n  if (phone.length === 12 && phone.startsWith('0')) {\n    phone = phone.slice(1); // Remove o zero do DDD\n  }\n\n  // Se já tiver 11 dígitos, seguimos\n  const formattedPhone = phone;\n\n  item.json.formattedPhone = formattedPhone;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -272
      ],
      "id": "0052bee3-b4fc-4b3a-ad14-592bc71c19d5",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.usuario_telefone }}"
            },
            {
              "name": "message",
              "value": "=Bem-vindo! Agora já pode acessar todos os nossos benefícios. \nSe quiser, envie uma foto do seu alimento para começarmos.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -272
      ],
      "id": "7d7e268a-ba68-40d8-8929-fb7621324e63",
      "name": "info dieta15",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "fluxo_real"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        -272
      ],
      "id": "bbc47fc3-ac4e-44e9-85ea-878e8aa5d5cb",
      "name": "Atualiza estado da conversa",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.caloscan.com.br",
            "user-agent": "Stripe/1.0 (+https://stripe.com/docs/webhooks)",
            "content-length": "3524",
            "accept": "*/*; q=0.5, application/json",
            "cache-control": "no-cache",
            "content-type": "application/json; charset=utf-8",
            "stripe-signature": "t=1752186116,v1=af2f2870ed80e5dea5416c9b15061b9d2d68c86cb3f0581ca5caaa2f696bafae",
            "via": "1.1 Caddy",
            "x-forwarded-for": "54.187.216.72",
            "x-forwarded-host": "n8n.caloscan.com.br",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_1RjSqmE8i7kxJ8LaBoqPpbwG",
            "object": "event",
            "api_version": "2025-05-28.basil",
            "created": 1752186116,
            "data": {
              "object": {
                "id": "cs_live_b1tP3jZZUcVZ86dfxmpxUPgB6yYNFzsPtsJmgiHxZlsTdTAwd7eWEGlgFa",
                "object": "checkout.session",
                "adaptive_pricing": {
                  "enabled": true
                },
                "after_expiration": null,
                "allow_promotion_codes": true,
                "amount_subtotal": 100,
                "amount_total": 100,
                "automatic_tax": {
                  "enabled": false,
                  "liability": null,
                  "provider": null,
                  "status": null
                },
                "billing_address_collection": "auto",
                "cancel_url": "https://stripe.com",
                "client_reference_id": null,
                "client_secret": null,
                "collected_information": null,
                "consent": null,
                "consent_collection": {
                  "payment_method_reuse_agreement": null,
                  "promotions": "none",
                  "terms_of_service": "none"
                },
                "created": 1752186045,
                "currency": "brl",
                "currency_conversion": null,
                "custom_fields": [],
                "custom_text": {
                  "after_submit": null,
                  "shipping_address": null,
                  "submit": null,
                  "terms_of_service_acceptance": null
                },
                "customer": null,
                "customer_creation": "if_required",
                "customer_details": {
                  "address": {
                    "city": null,
                    "country": "BR",
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": "giovanna.gomes.amaral@gmail.com",
                  "name": "Giovanna G A Amaral",
                  "phone": "+5521984138362",
                  "tax_exempt": "none",
                  "tax_ids": []
                },
                "customer_email": null,
                "discounts": [],
                "expires_at": 1752272445,
                "invoice": null,
                "invoice_creation": {
                  "enabled": false,
                  "invoice_data": {
                    "account_tax_ids": null,
                    "custom_fields": null,
                    "description": null,
                    "footer": null,
                    "issuer": null,
                    "metadata": {},
                    "rendering_options": null
                  }
                },
                "livemode": true,
                "locale": "auto",
                "metadata": {},
                "mode": "payment",
                "origin_context": null,
                "payment_intent": "pi_3RjSqkE8i7kxJ8La0yHx8CZ3",
                "payment_link": "plink_1RjQ6zE8i7kxJ8La2cBLKm9S",
                "payment_method_collection": "if_required",
                "payment_method_configuration_details": {
                  "id": "pmc_1RfjYrE8i7kxJ8Laf4LtjCjk",
                  "parent": null
                },
                "payment_method_options": {
                  "card": {
                    "request_three_d_secure": "automatic"
                  }
                },
                "payment_method_types": [
                  "card"
                ],
                "payment_status": "paid",
                "permissions": null,
                "phone_number_collection": {
                  "enabled": true
                },
                "recovered_from": null,
                "saved_payment_method_options": null,
                "setup_intent": null,
                "shipping_address_collection": null,
                "shipping_cost": null,
                "shipping_options": [],
                "status": "complete",
                "submit_type": "auto",
                "subscription": null,
                "success_url": "https://stripe.com",
                "total_details": {
                  "amount_discount": 0,
                  "amount_shipping": 0,
                  "amount_tax": 0
                },
                "ui_mode": "hosted",
                "url": null,
                "wallet_options": null
              }
            },
            "livemode": true,
            "pending_webhooks": 1,
            "request": {
              "id": null,
              "idempotency_key": null
            },
            "type": "checkout.session.completed"
          },
          "webhookUrl": "https://n8n.caloscan.com.br/webhook/9d0d2fcf-91c4-4233-a836-d33fb64f2bb8",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Atualiza estado da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza estado da conversa": {
      "main": [
        [
          {
            "node": "info dieta15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb413e2a-0e52-4a78-9598-c7889706113b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3e5231b9a43762dfd5b9269d048865d2504eba5680136b06f9bc85b9b7008b3"
  },
  "id": "sCpD86IjrBLIjYNJ",
  "tags": []
}