onboarding (1).json
{
  "name": "onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "44b25479-1cf5-4edc-8c21-cc62fc7d91da",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2496,
        304
      ],
      "id": "b1a85565-6be7-412e-9529-c69436d382fa",
      "name": "Webhook",
      "webhookId": "44b25479-1cf5-4edc-8c21-cc62fc7d91da"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cbc2dc42-22ff-4362-bfc6-cbebf8c9afa5",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        288
      ],
      "id": "516e1c79-398a-4e97-a9c4-3119764a5543",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "bba979cb-9230-44c4-a3f3-355316b341be"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bef07082-c3c9-4da4-8f7a-6d5e345adff9",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "aguardando_nome",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ce2aa7e-0a90-4ae9-b8c3-6e4f4bcc157d",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "resposta_dieta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad710b87-dcfd-4122-baa2-6993883ae947",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "quantidade_calorias",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96f087a6-943b-471f-9926-2971c52b84c3",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "quantidade_proteina",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "621009d4-10db-443f-82da-c62cb19cfb56",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "quantidade_carbo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d59ea8b-4ca3-4c4b-bdc6-aff510a96d0c",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "quantidade_gordura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "842587fa-c8b0-48a8-8e26-5c9aaa0a5c22",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_altura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84f957f0-275b-4400-be71-db1192f97911",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_peso",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6217bc2-7998-45d2-9c8f-5c7a798ba7a3",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "=info_idade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "62a42355-40dc-4de3-b564-1b152d4878b8",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_sexo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3bb99ac-cd32-43d7-9942-b94688ca2bf1",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_atividade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "252e7a8f-42b8-4690-853d-e82b8c3b60e0",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_objetivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c461a63-1782-4ba7-9c7f-7353c475cac7",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "opcoes_fluxos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -544,
        160
      ],
      "id": "027e2e2b-c566-4eef-a1aa-13ddec4480d5",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        192
      ],
      "id": "e1aa2bbc-40b0-4a9c-976f-9d17fb449cdf",
      "name": "Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32671527-4b4e-4bc0-af28-cc615c062168",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        384
      ],
      "id": "e4fee6c5-9c79-43da-a5ad-467234fa1071",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tem_dieta_previa",
              "fieldValue": "True"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        608
      ],
      "id": "559fc654-cb64-43e3-9a26-d9a9856179aa",
      "name": "Supabase5",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "calorias_diarias",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        800
      ],
      "id": "aba652e3-d125-4c59-8ff3-b3418e6b13d2",
      "name": "Supabase7",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "dietas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "fieldId": "data_criacao",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        608
      ],
      "id": "fdc6607f-9778-435e-b9f8-05dd134f6607",
      "name": "Supabase8",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1168,
        640
      ],
      "id": "ddd1046a-3a63-4d87-a8d8-c11cef1275e6",
      "name": "Supabase9",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "estados_conversa",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1008,
        640
      ],
      "id": "1a3931e2-73ce-417c-a2e8-c99c815cb0bf",
      "name": "Supabase10",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "👋 Olá! Bem-vindo(a) ao CaloScan! Vamos personalizar sua experiência. Para começar, me diga seu nome completo."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        640
      ],
      "id": "8c4d245b-ebea-4573-98f0-8a538235001d",
      "name": "HTTP Request4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito, {{ $('Webhook').item.json.body.text.message }}! \nAgora, me conte: você já tem uma dieta estabelecida?  \n1️⃣ Sim, já tenho uma dieta definida  \n2️⃣ Não, preciso de ajuda para criar uma "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        192
      ],
      "id": "510dcf37-52ec-4838-9c37-74bde584f3e5",
      "name": "info dieta",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Legal! Vamos configurar sua dieta. Quantas calorias você consome por dia?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        608
      ],
      "id": "6aa26bc3-957c-4d1c-b562-bfc3920ef6a3",
      "name": "qtd calorias",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Registrado! Agora, qual a quantidade diária de proteínas em gramas? (exemplo: 100g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        800
      ],
      "id": "99002a71-81b1-488b-b8fa-a58077f53fa7",
      "name": "qtd proteina",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Ótimo! E a quantidade diária de carboidratos em gramas? (exemplo: 250g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        992
      ],
      "id": "2f45d107-0e29-498c-9a88-7f12c02ea303",
      "name": "qtd carbo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "👋 Olá! Bem-vindo(a) ao CaloScan! Vamos personalizar sua experiência. Para começar, me diga seu nome completo."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "49d89026-3945-4ae7-91a1-8c64bd6a61d2",
      "name": "rq nome",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Supabase1').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "aguardando_nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "3dd3e02f-705e-4eb1-9622-a7c4497f323a",
      "name": "update estado",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "resposta_dieta"
            },
            {
              "fieldId": "dados_contexto",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        192
      ],
      "id": "386f22dd-81d6-48d2-a9df-cafe0977a537",
      "name": "update estado1",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_calorias"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        608
      ],
      "id": "a6b17453-2535-428f-9479-42d4e83be8ba",
      "name": "update estado2",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_proteina"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        800
      ],
      "id": "02ad2ab8-cfde-4f87-9e22-31e7febddb38",
      "name": "update estado3",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Supabase9').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "aguardando_nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        640
      ],
      "id": "abf120aa-ca69-4b54-a23e-ed85e552b7be",
      "name": "update estado4",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_carbo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        992
      ],
      "id": "4e3923f1-308e-4d32-9de1-2b6b4e3afb70",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proteina_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        992
      ],
      "id": "e103e868-3700-4ad2-b169-f7be071d78de",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito! Por último, qual a quantidade diária de gorduras em gramas? (exemplo: 70g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        1200
      ],
      "id": "1287fc18-0de0-4adc-9f81-6156bc1adab2",
      "name": "qtd gordura",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_gordura"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        1200
      ],
      "id": "7516ce40-bae6-4dab-b4c6-4ce68f8a242c",
      "name": "Supabase4",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "carboidrato_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        1200
      ],
      "id": "96111016-2498-413f-8a45-3a00b8f9c661",
      "name": "Supabase6",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "opcoes_fluxos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        1424
      ],
      "id": "f3fce5d7-6abf-4a20-8416-331fc666fede",
      "name": "Supabase11",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "gordura_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        1424
      ],
      "id": "b8e8fe7d-fbda-4e83-8fea-7d22eab50cd3",
      "name": "Supabase12",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        1424
      ],
      "id": "b6f73988-5dee-4e3e-814b-2af01d1651f7",
      "name": "Supabase13",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Sua dieta foi configurada com sucesso!\nCalorias diárias: {{ $json.calorias_diarias }} kcal\nProteínas: {{ $json.proteina_gramas }} g\nCarboidratos:{{ $json.carboidrato_gramas }}g\nGorduras: {{ $json.gordura_gramas }}g\n\n Agora você está pronto(a) para começar a registrar suas refeições!\n O que você gostaria de fazer agora?\n 1️⃣ Enviar uma foto de uma refeição\n 2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        1424
      ],
      "id": "bee8b0bc-cf1d-4a02-a838-e772eaf02723",
      "name": "qtd gordura1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Sem problemas! Vamos criar sua dieta personalizada. Para isso, preciso de algumas informações.\n Qual a sua altura em centímetros? (exemplo: 175)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        368
      ],
      "id": "6e383e29-fa32-4f42-8803-05bbe0840571",
      "name": "info dieta1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_altura"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        368
      ],
      "id": "92209f66-d54a-4c0a-9e84-f4c2c7729678",
      "name": "update estado5",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Registrado! Agora, qual o seu peso atual em kg? (exemplo: 70)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        1648
      ],
      "id": "c67f3caa-4754-4e6c-abcd-ffafe7e0a7bb",
      "name": "info dieta2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_peso"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        1648
      ],
      "id": "683589dd-0bc3-44b7-89b6-6f5dcf1201d2",
      "name": "update estado6",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "altura",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        1648
      ],
      "id": "97ade810-5063-4b02-b90f-92f70cea3dd4",
      "name": "Supabase14",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito! Qual a sua idade?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        1872
      ],
      "id": "71e2c61e-214e-433b-8dd0-6ed90b86a845",
      "name": "info dieta3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_idade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        1872
      ],
      "id": "da6b2ce7-cbd4-424a-9cc1-69a76235a6f2",
      "name": "update estado7",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "peso",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        1872
      ],
      "id": "375b2d0c-c49b-4d68-bfe3-4e4696b54e32",
      "name": "Supabase15",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Agora, com qual sexo você se identifica?\n 1️⃣ Masculino\n 2️⃣ Feminino"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        2064
      ],
      "id": "300decae-e4ec-4946-8228-9cb12b599f9a",
      "name": "info dieta4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_sexo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        2064
      ],
      "id": "679d6a5a-96c6-4a55-8c35-f45330c52a73",
      "name": "update estado8",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idade",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        2064
      ],
      "id": "9b5b02ff-20f0-4b73-aee1-1e8e489bd015",
      "name": "Supabase16",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Entendido! Agora, qual é o seu nível de atividade física?\n 1️⃣ Sedentário (pouco ou nenhum exercício)\n 2️⃣ Levemente ativo (exercício leve 1-3 dias/semana)\n 3️⃣ Moderadamente ativo (exercício moderado 3-5 dias/semana)\n 4️⃣ Muito ativo (exercício intenso 6-7 dias/semana)\n 5️⃣ Extremamente ativo (trabalho físico ou exercício muito intenso)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        2272
      ],
      "id": "93edcf39-1c99-4dd3-b075-84a1bdaec465",
      "name": "info dieta5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_atividade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        2272
      ],
      "id": "c082c2c3-ac39-4499-8953-af99b97c2f19",
      "name": "update estado9",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sexo",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        2272
      ],
      "id": "baee8346-ee84-4bb9-889b-5884859c93d8",
      "name": "Supabase17",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Entendido! Agora, qual é o seu principal objetivo?\n1️⃣ Emagrecer\n2️⃣ Manter o peso\n3️⃣ Ganhar massa muscular"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        2464
      ],
      "id": "1b735754-72f8-4079-9406-447971a6499c",
      "name": "info dieta6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_objetivo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        2464
      ],
      "id": "41b41a61-3ed1-424a-913c-ae7474afc8e2",
      "name": "update estado10",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nivel_atividade",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        2464
      ],
      "id": "a2134cb5-2e03-4656-81dd-c54dafd98e14",
      "name": "Supabase18",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Calculando sua dieta personalizada..."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        2688
      ],
      "id": "4c0f12fd-5d35-4c36-bfa5-e0dfc332af61",
      "name": "info dieta7",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "opcoes_fluxos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        2688
      ],
      "id": "edf51b97-1f5c-4f68-9c5d-f610882d3943",
      "name": "update estado11",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "objetivo",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        2688
      ],
      "id": "c8dfb59b-524c-434e-9207-70b6cb8889a0",
      "name": "Supabase19",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        2688
      ],
      "id": "2642b66b-10ac-497c-8c50-152295e717e7",
      "name": "Supabase20",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// --- PEGANDO VARIÁVEIS DIRETAMENTE DO NODE 'Supabase19' ---\n// Tentamos pegar as variáveis de forma segura. Se o nó Supabase19 não tiver esses campos,\n// eles serão undefined, e as conversões/validações abaixo lidarão com isso.\nconst itemSupabase = $('Supabase19').first().json;\n\n// Extração e conversão de valores para números.\n// Number() tentará converter e retornará NaN se não for um número válido.\nconst peso = Number(itemSupabase.peso);\nconst altura = Number(itemSupabase.altura);\nconst idade = Number(itemSupabase.idade);\n\n// Variáveis que podem ser strings. Usamos || \"\" para garantir que sejam strings vazias se undefined.\n// .toLowerCase() para padronizar as entradas.\nconst sexo = (itemSupabase.sexo || \"\").toLowerCase();\nconst objetivo = 'emagrecer';\n\n// parseInt() para nível de atividade. Usamos 10 para base decimal.\n// Se não for um número válido, será NaN, o que será tratado na validação.\nconst nivelAtividadeInput = parseInt(itemSupabase.nivel_atividade, 10);\nlet nivelAtividade = 2; // Valor padrão caso a entrada seja inválida ou fora da faixa\n\n// --- VALIDAÇÃO DE ENTRADAS CRÍTICAS ---\n// Retorna um erro se qualquer dado essencial for inválido.\n\n// 1. Validação de peso, altura, idade\nif (isNaN(peso) || peso <= 0 ||\n    isNaN(altura) || altura <= 0 ||\n    isNaN(idade) || idade <= 0) {\n  return [\n    {\n      json: {\n        erro: \"Erro: Peso, altura ou idade inválidos. Certifique-se de que são números positivos.\"\n      }\n    }\n  ];\n}\n\n// 2. Validação de sexo\nif (sexo !== \"masculino\" && sexo !== \"feminino\") {\n  return [\n    {\n      json: {\n        erro: \"Erro: Sexo inválido. Use 'masculino' ou 'feminino'.\"\n      }\n    }\n  ];\n}\n\n// 3. Validação de objetivo\n// Adicionando um array de objetivos válidos para validação mais robusta\nconst objetivosValidos = [\"emagrecer\", \"manter\", \"ganhar\"];\nif (!objetivosValidos.includes(objetivo)) {\n  return [\n    {\n      json: {\n        erro: `Erro: Objetivo inválido. Use um dos seguintes: ${objetivosValidos.join(', ')}.`\n      }\n    }\n  ];\n}\n\n// 4. Validação e ajuste de Nível de Atividade\n// Se o nível de atividade do input for um número válido e dentro da faixa, use-o.\n// Caso contrário, o 'nivelAtividade' já está definido como 2 (padrão).\nif (!isNaN(nivelAtividadeInput) && nivelAtividadeInput >= 1 && nivelAtividadeInput <= 5) {\n  nivelAtividade = nivelAtividadeInput;\n} else {\n    // Podemos retornar um aviso aqui ou apenas usar o padrão sem erro fatal\n    // console.warn(\"Aviso: Nível de atividade inválido. Usando o valor padrão (2 - atividade leve).\");\n}\n\n// --- FATORES DE ATIVIDADE (PARA CÁLCULO DO GET) ---\nconst fatoresAtividade = {\n  1: 1.2,    // Sedentário\n  2: 1.375,  // Levemente Ativo (1-3 dias/semana)\n  3: 1.55,   // Moderadamente Ativo (3-5 dias/semana)\n  4: 1.725,  // Muito Ativo (6-7 dias/semana)\n  5: 1.9     // Extremamente Ativo (Atletas, 2x ao dia)\n};\n\n// --- CÁLCULO DA TMB (TAXA METABÓLICA BASAL) ---\nlet tmb = 0;\nif (sexo === \"masculino\") {\n  tmb = (10 * peso) + (6.25 * altura) - (5 * idade) + 5;\n} else { // sexo === \"feminino\" (já validado)\n  tmb = (10 * peso) + (6.25 * altura) - (5 * idade) - 161;\n}\n\n// --- CÁLCULO DO GET (GASTO ENERGÉTICO TOTAL) ---\n// Usa o fator de atividade correspondente, ou 1.2 (sedentário) como fallback.\nconst fatorAtividadeAplicado = fatoresAtividade[nivelAtividade] || 1.2;\nlet calorias = tmb * fatorAtividadeAplicado;\n\n// --- AJUSTE DE CALORIAS PELO OBJETIVO ---\nif (objetivo === \"emagrecer\") {\n  calorias *= 0.8; // Reduz em 20%\n} else if (objetivo === \"ganhar\") {\n  calorias *= 1.15; // Aumenta em 15%\n}\ncalorias = Math.round(calorias); // Arredonda para o número inteiro mais próximo\n\n// --- CÁLCULO DOS MACRONUTRIENTES ---\nlet proteinaPorKg = 2.0; // Padrão\nlet gorduraPorKg = 0.8;  // Padrão\n\nif (objetivo === \"emagrecer\") {\n  proteinaPorKg = 2.2; // Maior para emagrecimento\n  gorduraPorKg = 0.7;  // Menor para emagrecimento\n} else if (objetivo === \"ganhar\") {\n  proteinaPorKg = 2.0; // Mantém\n  gorduraPorKg = 1.0;  // Um pouco mais para ganho\n}\n\nconst proteinas = Math.round(proteinaPorKg * peso);\nconst kcalProteinas = proteinas * 4; // 1g Proteína = 4 kcal\n\nconst gorduras = Math.round(gorduraPorKg * peso);\nconst kcalGorduras = gorduras * 9; // 1g Gordura = 9 kcal\n\n// Carboidratos preenchem o restante das calorias\nconst kcalRestantesParaCarboidratos = calorias - (kcalProteinas + kcalGorduras);\n// Garante que carboidratos não sejam negativos\nconst carboidratos = Math.max(0, Math.round(kcalRestantesParaCarboidratos / 4)); // 1g Carboidrato = 4 kcal\n\n// --- RETORNO DOS RESULTADOS ---\n// O N8N espera um array de objetos, onde cada objeto tem uma propriedade 'json'.\nreturn [\n  {\n    json: {\n      peso,\n      altura,\n      idade,\n      sexo,\n      objetivo,\n      nivelAtividade, // Nível de atividade final (pode ser o padrão 2)\n      tmb: Math.round(tmb), // Arredonda TMB para facilitar a leitura\n      fatorAtividadeAplicado, // O fator usado para o cálculo do GET\n      calorias, // Este é o GET final ajustado\n      proteinas,\n      carboidratos,\n      gorduras,\n      // Opcional: retornar as calorias de cada macronutriente para verificação\n      kcalProteinas,\n      kcalGorduras,\n      kcalCarboidratos: carboidratos * 4 // Calorias dos carboidratos\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        2688
      ],
      "id": "9bd3f123-41b6-466d-a7f8-b13e10937e62",
      "name": "Code",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "tableId": "dietas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "calorias_diarias",
              "fieldValue": "={{ $json.calorias }}"
            },
            {
              "fieldId": "proteina_gramas",
              "fieldValue": "={{ $json.proteinas }}"
            },
            {
              "fieldId": "carboidrato_gramas",
              "fieldValue": "={{ $json.carboidratos }}"
            },
            {
              "fieldId": "gordura_gramas",
              "fieldValue": "={{ $json.gorduras }}"
            },
            {
              "fieldId": "data_criacao",
              "fieldValue": "={{ $today }}"
            },
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        2688
      ],
      "id": "a1f3f9fc-140f-404e-a5db-a3b6a633fb1e",
      "name": "Supabase21",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Sua dieta personalizada foi criada com sucesso! 🎉\n\nConfira os detalhes:\n- Calorias diárias: {{ $json.calorias_diarias }}kcal\n- Proteínas: {{ $json.proteina_gramas }}g\n- Carboidratos: {{ $json.carboidrato_gramas }}g\n- Gorduras: {{ $json.gordura_gramas }}g\n\nLembre-se que esta é uma estimativa. Para resultados ainda melhores, consulte um profissional de saúde.\n\n Agora você está pronto(a) para começar a registrar suas refeições!\n O que você gostaria de fazer agora?\n 1️⃣ Enviar uma foto de uma refeição\n 2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2688
      ],
      "id": "a8450887-cea8-41c0-ad60-0ec49a793748",
      "name": "info dieta8",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S4lBUlj6RB91UodT",
          "mode": "list",
          "cachedResultName": "barcode-workflow copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        3008
      ],
      "id": "1e25b9ed-87de-473c-ba9a-d9fa00dae7ac",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2288,
        304
      ],
      "id": "02a3dc12-f052-4599-b75d-b01ceb0e06b6",
      "name": "Supabase22",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92a936be-352b-499e-91fb-0dc9d50093a2",
              "leftValue": "={{ $json.estado_atual }}",
              "rightValue": "fluxo_real",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        304
      ],
      "id": "142740c2-7eab-48d7-9e55-284c2ecf58ce",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Olá, {{ $('Webhook').item.json.body.chatName }}!\nQue bom te ver de volta.\nComo posso te ajudar?\n1️⃣ Enviar uma foto de uma refeição\n2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        944
      ],
      "id": "51cc97ff-27ef-4e31-b6ec-acea88274bb4",
      "name": "info dieta9",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S4lBUlj6RB91UodT",
          "mode": "list",
          "cachedResultName": "barcode-workflow copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -624,
        944
      ],
      "id": "a7a98d0a-8cb3-4c70-9851-c8cdec5fcd70",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2064,
        304
      ],
      "id": "aaf2f844-d4e4-46c4-aacd-47ff1efa3db4",
      "name": "Supabase23",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "fluxo_real"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        3008
      ],
      "id": "d6a19f56-7063-4370-a252-b7d2b6e6ed3d",
      "name": "Supabase24",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1568,
        304
      ],
      "id": "fc4e1e4a-ab38-465e-8bff-12537895579b",
      "name": "Supabase1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "906511c9-457d-4610-961d-d817039a350c",
              "name": "body.messageId",
              "value": "={{ $('Webhook').item.json.body.messageId }}",
              "type": "string"
            },
            {
              "id": "59f45bf0-18d5-408d-bb51-448d2afccbc7",
              "name": "body.phone",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "df0f1137-3fa2-4fbc-81e9-8e4d1dace7c0",
              "name": "body.chatName",
              "value": "={{ $('Webhook').item.json.body.chatName }}",
              "type": "string"
            },
            {
              "id": "aed460bc-bec5-4e9a-8c55-45247dc3478f",
              "name": "body.photo",
              "value": "={{ $('Webhook').item.json.body.photo }}",
              "type": "string"
            },
            {
              "id": "3ccd9ed9-d315-4b5c-b1d1-84d22fee88f2",
              "name": "body.image",
              "value": "={{ $('Webhook').item.json.body.image }}",
              "type": "object"
            },
            {
              "id": "19aae071-e4db-43f8-940e-f315dc43cd16",
              "name": "body.image.imageUrl",
              "value": "={{ $('Webhook').item.json.body.image.imageUrl }}",
              "type": "string"
            },
            {
              "id": "3bf4069e-8ae4-4d15-9bd9-4ff679a84f5d",
              "name": "body.image.thumbnailUrl",
              "value": "={{ $('Webhook').item.json.body.image.thumbnailUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        944
      ],
      "id": "e7f4a615-ede6-4183-86d6-b3faf8921a7d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "tableId": "dados_subworkflow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone_usuario",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "dados",
              "fieldValue": "={{ $json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        944
      ],
      "id": "a61e7321-c121-470e-bb92-c9f7602280b6",
      "name": "Supabase25",
      "credentials": {
        "supabaseApi": {
          "id": "aLPCtqdgRYyrwtIH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# FALTA Z-API \n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        528
      ],
      "typeVersion": 1,
      "id": "ccecdf15-b8f8-49bc-8406-1759e3c26484",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# FALTA Z-API \n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        848
      ],
      "typeVersion": 1,
      "id": "903e3eae-3649-46f5-b833-6ed0179b5db3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# FALTA Z-API \n",
        "height": 3152
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        -16
      ],
      "typeVersion": 1,
      "id": "efcc5069-3ed3-424b-ae01-20b2f421822e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Code: Lógica para consistência de dados\n",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        2848
      ],
      "typeVersion": 1,
      "id": "b416ff58-3290-43a0-b705-4fadc7457a80",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "rq nome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd proteina",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd carbo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd gordura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "info dieta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd calorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "main": [
        [
          {
            "node": "Supabase8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase9": {
      "main": [
        [
          {
            "node": "Supabase10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase10": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "update estado4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta": {
      "main": [
        [
          {
            "node": "update estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd calorias": {
      "main": [
        [
          {
            "node": "update estado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd proteina": {
      "main": [
        [
          {
            "node": "update estado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd carbo": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rq nome": {
      "main": [
        [
          {
            "node": "update estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado1": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado2": {
      "main": [
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado3": {
      "main": [
        [
          {
            "node": "Supabase7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd gordura": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase4": {
      "main": [
        [
          {
            "node": "Supabase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase11": {
      "main": [
        [
          {
            "node": "Supabase12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase12": {
      "main": [
        [
          {
            "node": "Supabase13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase13": {
      "main": [
        [
          {
            "node": "qtd gordura1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta1": {
      "main": [
        [
          {
            "node": "update estado5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta2": {
      "main": [
        [
          {
            "node": "update estado6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado6": {
      "main": [
        [
          {
            "node": "Supabase14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta3": {
      "main": [
        [
          {
            "node": "update estado7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado7": {
      "main": [
        [
          {
            "node": "Supabase15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta4": {
      "main": [
        [
          {
            "node": "update estado8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado8": {
      "main": [
        [
          {
            "node": "Supabase16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta5": {
      "main": [
        [
          {
            "node": "update estado9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado9": {
      "main": [
        [
          {
            "node": "Supabase17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta6": {
      "main": [
        [
          {
            "node": "update estado10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado10": {
      "main": [
        [
          {
            "node": "Supabase18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta7": {
      "main": [
        [
          {
            "node": "update estado11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado11": {
      "main": [
        [
          {
            "node": "Supabase19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase19": {
      "main": [
        [
          {
            "node": "Supabase20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase20": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase21": {
      "main": [
        [
          {
            "node": "info dieta8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase22": {
      "main": [
        [
          {
            "node": "Supabase23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta9": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase23": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase24": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase25": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8615f082-1bdb-412d-bcce-32d3936beac3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3e5231b9a43762dfd5b9269d048865d2504eba5680136b06f9bc85b9b7008b3"
  },
  "id": "q67wDxtc0pKUc9pA",
  "tags": []
}