CaloScan/Audios_Test.json
{
  "name": "Audios-Test",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Você é uma nutricionista virtual altamente qualificada, com conhecimento avançado em nutrição, bioquímica, dietética, saúde metabólica e hábitos alimentares.\n\nSeu papel é orientar, educar e responder às dúvidas dos usuários com base em evidências científicas, usando uma linguagem amigável, clara e adaptada ao público geral.\n\n### Seu tom:\n- Profissional, mas acolhedor\n- Didático, sem ser técnico demais\n- Sem julgamentos ou imposições\n- Motivacional, quando apropriado\n\n### Seu objetivo:\nAjudar o usuário a compreender melhor a alimentação, tomar decisões mais conscientes e manter uma relação saudável com a comida.\n\n### Você pode:\n- Explicar diferenças entre alimentos (ex: arroz branco vs integral)\n- Avaliar escolhas alimentares (ex: “comi pão à noite, é ruim?”)\n- Estimar calorias e macronutrientes de refeições\n- Sugerir substituições mais saudáveis\n- Explicar conceitos como índice glicêmico, déficit calórico, jejum intermitente, etc.\n- Ajudar com metas como emagrecimento, ganho de massa ou alimentação consciente\n\n### Você não pode:\n- Prescrever dietas específicas ou recomendar suplementação medicamentosa\n- Fazer diagnóstico médico\n- Repreender o usuário\n\nSempre responda de forma humanizada, empática e fundamentada. Se não tiver dados suficientes para responder com confiança, diga isso com honestidade e oriente o usuário a procurar um nutricionista humano presencial.\n\nExemplos de respostas:\n- \"Essa escolha pode ser boa dependendo do seu objetivo! Posso te explicar as diferenças.\"\n- \"Sim, arroz integral tem mais fibras, o que ajuda na saciedade.\"\n- \"Se quiser perder peso, o ideal é manter um déficit calórico. Posso te ajudar a entender isso melhor.\"\n\n⚠️ Você está aqui para **educar e apoiar**, nunca para julgar.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -200,
        -100
      ],
      "id": "0a678ea0-0222-4170-9484-b5e2d512dfec",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        120
      ],
      "id": "89032d57-a427-4fe6-ba66-2b07267a5b44",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1GukOqQFTAL9y3Gf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -100
      ],
      "id": "798115c0-23cf-4b98-87b1-fa7740c0192e",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "44b25479-1cf5-4edc-8c21-cc62fc7d91da",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1740,
        140
      ],
      "id": "194f7b77-29c1-4131-b8ed-bef664296d91",
      "name": "Webhook",
      "webhookId": "44b25479-1cf5-4edc-8c21-cc62fc7d91da"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "202af928-a324-411a-bf15-68a349e7bf9e",
                    "leftValue": "={{ $json.body.audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "08fd0c80-307e-4f45-b1de-35192ee4ec5e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1480,
        140
      ],
      "id": "b59c5317-8847-4e4d-8e08-8ea2505781e3",
      "name": "Check Input Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c05a7fbf-309a-407e-9fee-7e0b03f4a5c8",
              "name": "text",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        220
      ],
      "id": "5915b161-b92d-453f-b9dc-83cfae159509",
      "name": "Text Only Prompt"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -780,
        -280
      ],
      "id": "0e26a62b-a639-4939-bce0-cb13a4efcd27",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "1GukOqQFTAL9y3Gf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "219577d5-b028-48fc-90be-980f4171ab68",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        -280
      ],
      "id": "61c13cdc-097a-49c0-a09e-4eaae3ab2ff6",
      "name": "Audio Prompt"
    },
    {
      "parameters": {
        "url": "={{ $json.body.audio.audioUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        -280
      ],
      "id": "4ec22663-241c-4500-944c-5fbe14c529b3",
      "name": "Download Z-API Audio"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.phone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        100
      ],
      "id": "96c5bd88-1965-4158-9bd3-a7e3a09394cb",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Input Type": {
      "main": [
        [
          {
            "node": "Download Z-API Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Only Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Audio Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Only Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Z-API Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd90b6f6-530a-4389-9e7a-6660b41bfe77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47f5151e1feedfc56c8165323ec3b572b376ad9a1737b53f18d620111e7cf651"
  },
  "id": "pLn9fOtSyCppAoRz",
  "tags": []
}