CaloScan/barcode_workflow.json
{
  "name": "barcode-workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "906511c9-457d-4610-961d-d817039a350c",
              "name": "body.messageId",
              "value": "={{ $('Webhook1').item.json.body.messageId }}",
              "type": "string"
            },
            {
              "id": "59f45bf0-18d5-408d-bb51-448d2afccbc7",
              "name": "body.phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "df0f1137-3fa2-4fbc-81e9-8e4d1dace7c0",
              "name": "body.chatName",
              "value": "={{ $('Webhook1').item.json.body.chatName }}",
              "type": "string"
            },
            {
              "id": "aed460bc-bec5-4e9a-8c55-45247dc3478f",
              "name": "body.photo",
              "value": "={{ $('Webhook1').item.json.body.photo }}",
              "type": "string"
            },
            {
              "id": "3ccd9ed9-d315-4b5c-b1d1-84d22fee88f2",
              "name": "body.image",
              "value": "={{ $('Webhook1').item.json.body.image }}",
              "type": "object"
            },
            {
              "id": "19aae071-e4db-43f8-940e-f315dc43cd16",
              "name": "body.image.imageUrl",
              "value": "={{ $('Webhook1').item.json.body.image.imageUrl }}",
              "type": "string"
            },
            {
              "id": "3bf4069e-8ae4-4d15-9bd9-4ff679a84f5d",
              "name": "body.image.thumbnailUrl",
              "value": "={{ $('Webhook1').item.json.body.image.thumbnailUrl }}",
              "type": "string"
            },
            {
              "id": "a54c2772-da1c-4311-966c-44a4c9adf188",
              "name": "body.text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5320,
        4820
      ],
      "id": "c8b8563a-7b38-41e6-a978-9618ac7c1431",
      "name": "Edit Fields1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "44b25479-1cf5-4edc-8c21-cc62fc7d91da",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4220,
        4820
      ],
      "id": "61218a31-4959-42cf-8ad3-b591697da8ce",
      "name": "Webhook1",
      "webhookId": "44b25479-1cf5-4edc-8c21-cc62fc7d91da"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://barcode-scanner-production.up.railway.app/detect-flexible",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 91c4c1f5-e612-4718-8d08-4777e73d8a15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('Webhook1').item.json.body.image.imageUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9380,
        4480
      ],
      "id": "9f346b0c-f03b-4952-83f6-c91ef5d6dcda",
      "name": "barcode-scanner1",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\t// --- Extrai e garante que são números ---\n\tconst {\n\t\tserving_quantity,\n\t\tfat_100g,\n\t\tcarbohydrates_100g,\n\t\tproteins_100g,\n\t} = item.json;\n\n\tconst porcao = Number(serving_quantity) || 0;\n\tconst fat100  = Number(fat_100g) || 0;\n\tconst carb100 = Number(carbohydrates_100g) || 0;\n\tconst prot100 = Number(proteins_100g) || 0;\n\n\t// --- Converte valores para a porção específica ---\n\tconst fator = porcao / 100;\n\tconst gordPorcao = +(fat100  * fator).toFixed(1);   // uma casa decimal\n\tconst carbPorcao = +(carb100 * fator).toFixed(1);\n\tconst protPorcao = +(prot100 * fator).toFixed(1);\n\n\t// --- Calcula calorias ---\n\tconst kcal = Math.round(gordPorcao*9 + (carbPorcao + protPorcao)*4);\n\n\t// --- Monta a frase no formato pedido ---\n\tconst prompt = `O produto tem ${porcao} g: ${kcal} kcal (${carbPorcao} g carb, ${protPorcao} g prot, ${gordPorcao} g gord). Deseja adicionar ao diário? (sim/não)`;\n\n\t// Anexa a nova chave ao item e devolve\n\titem.json.prompt = prompt;\n\treturn item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10040,
        4280
      ],
      "id": "7582974f-1988-4a9d-b098-23d82c45a19a",
      "name": "Code1"
    },
    {
      "parameters": {
        "collection": "products",
        "options": {},
        "query": "={\"code\": \"{{ $json.data.barcodeValue }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        9820,
        4280
      ],
      "id": "93917dd6-0715-4f6b-a49d-6e9fe10410de",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "R0XB7GXfu4DVDkeF",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code2').item.json.imageUrl }}",
                    "rightValue": "={{ null }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "339fe544-e0ad-4616-95e4-e3ea4f827f06"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da1a564a-5c9b-48f8-ad18-da4df85d58cf",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "=Pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Response"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "95820790-3755-4e65-b02b-0d517829ce4d",
                    "leftValue": "={{ $('Code2').item.json.message }}",
                    "rightValue": "={{ null }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        7380,
        5280
      ],
      "id": "210addfa-e485-40cb-be67-97d7660145d9",
      "name": "Switch",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Se a resposta for positiva, registre no Supabase o seguinte conteúdo:\n\nMensagem do usuário: {{ $('Code2').item.json.message }}\n\nPergunta correspondente: {{ $json.question }}\n\nUtilize esses dois campos como base para o registro no banco de dados.",
        "options": {
          "systemMessage": "A partir da mensagem escrita pelo usuário, extraia:\n\n- nome do alimento ou refeição\n- valor estimado de calorias\n- quantidade de proteínas, carboidratos e gorduras\n\nUse esses dados para preencher uma linha da tabela `registros_alimentares` no Supabase.\n\nRetorne apenas o corpo do JSON a ser enviado por POST para o endpoint REST do Supabase:\n\n```json\n{\n  \"nome_alimento\": \"<nome do alimento>\",\n  \"calorias\": <valor em kcal>,\n  \"carboidratos\": <gramas>,\n  \"proteinas\": <gramas>,\n  \"gorduras\": <gramas>\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        11220,
        5440
      ],
      "id": "4236b623-7986-45a0-94d3-f80efc72b7ff",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "tableId": "registros_alimentares",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_id",
              "fieldValue": "={{ $('get-user-id').item.json.id }}"
            },
            {
              "fieldId": "nome_alimento",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "calorias",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "proteinas",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "gorduras",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "carboidratos",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues6_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        11380,
        5660
      ],
      "id": "4d77ae38-025e-4900-b72b-112ef7194863",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        11260,
        5660
      ],
      "id": "552a3be9-c392-4ab4-9198-3df3f7f7fa33",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1GukOqQFTAL9y3Gf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "pending_questions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('get-message').item.json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        12040,
        5540
      ],
      "id": "81ffe029-c148-4aad-84bc-04c98c469cd4",
      "name": "Supabase4",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Item adicionado ao log"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11600,
        5540
      ],
      "id": "64455e6e-5a20-4c9e-b5b3-1dcb18825ddf",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Posso te ajudar de uma outra forma?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11820,
        5540
      ],
      "id": "8f922d9c-1a80-4597-929c-be97b31fcce2",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code2').item.json.message }}",
        "options": {
          "systemMessage": "Você é uma nutricionista virtual altamente qualificada, com conhecimento avançado em nutrição, bioquímica, dietética, saúde metabólica e hábitos alimentares.\n\nSeu papel é orientar, educar e responder às dúvidas dos usuários com base em evidências científicas, usando uma linguagem amigável, clara e adaptada ao público geral.\n\n### Seu tom:\n- Profissional, mas acolhedor\n- Didático, sem ser técnico demais\n- Sem julgamentos ou imposições\n- Motivacional, quando apropriado\n\n### Seu objetivo:\nAjudar o usuário a compreender melhor a alimentação, tomar decisões mais conscientes e manter uma relação saudável com a comida.\n\n### Você pode:\n- Explicar diferenças entre alimentos (ex: arroz branco vs integral)\n- Avaliar escolhas alimentares (ex: “comi pão à noite, é ruim?”)\n- Estimar calorias e macronutrientes de refeições\n- Sugerir substituições mais saudáveis\n- Explicar conceitos como índice glicêmico, déficit calórico, jejum intermitente, etc.\n- Ajudar com metas como emagrecimento, ganho de massa ou alimentação consciente\n\n### Você não pode:\n- Prescrever dietas específicas ou recomendar suplementação medicamentosa\n- Fazer diagnóstico médico\n- Repreender o usuário\n\nSempre responda de forma humanizada, empática e fundamentada. Se não tiver dados suficientes para responder com confiança, diga isso com honestidade e oriente o usuário a procurar um nutricionista humano presencial.\n\nExemplos de respostas:\n- \"Essa escolha pode ser boa dependendo do seu objetivo! Posso te explicar as diferenças.\"\n- \"Sim, arroz integral tem mais fibras, o que ajuda na saciedade.\"\n- \"Se quiser perder peso, o ideal é manter um déficit calórico. Posso te ajudar a entender isso melhor.\"\n\n⚠️ Você está aqui para **educar e apoiar**, nunca para julgar.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        8980,
        6580
      ],
      "id": "6fb71599-936a-4209-af1f-9bf646d75731",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        9080,
        6800
      ],
      "id": "f33df17e-cd0e-4e37-94fe-da7f989b77b9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1GukOqQFTAL9y3Gf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9360,
        6580
      ],
      "id": "85df5897-f74c-4f56-8b02-d690e732f3f1",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "content": "## Workflow de processamento de imagem\n",
        "height": 760,
        "width": 2080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8840,
        4160
      ],
      "typeVersion": 1,
      "id": "17074e72-a5cd-4bae-b9a7-c16f33509c2b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.originalMessage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10480,
        4480
      ],
      "id": "0f71477b-2012-4085-98d8-e53867cf5ccd",
      "name": "Http Request retorna Mensagem para Wpp"
    },
    {
      "parameters": {
        "tableId": "pending_questions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Edit Fields1').item.json.body.phone }}"
            },
            {
              "fieldId": "question",
              "fieldValue": "={{ $('gpt-api-com-msg').item.json.choices[0].message.content }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10700,
        4480
      ],
      "id": "55429e7e-61ed-4b92-8696-5f7fc624a1a5",
      "name": "Supabase cria pending request",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10260,
        4280
      ],
      "id": "3fc7a096-4095-4ede-97c8-f0327bcdb7e2",
      "name": "HTTP Request retorna macros para wpp"
    },
    {
      "parameters": {
        "content": "## Adiciona ao log a refeição",
        "height": 780,
        "width": 3160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9260,
        5380
      ],
      "typeVersion": 1,
      "id": "1766d702-3207-47a5-99ec-14458a794749",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Agente conversacional",
        "height": 440,
        "width": 860,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8620,
        6500
      ],
      "typeVersion": 1,
      "id": "f028eb75-03cb-4408-a06e-c0a5548d8268",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.body.phone }}",
        "messageData": "={{ JSON.stringify({ \n  ...$json.body, \n  timestamp: Date.now(),\n  created_at: new Date().toISOString()\n}) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5540,
        4820
      ],
      "id": "46495292-482d-4f9e-9c5c-d77343f331ea",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "SorfswMQy49pOxNc",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Edit Fields1').item.json.body.phone }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        6280,
        5520
      ],
      "id": "a7390bb0-6b05-4db0-b20b-7d4589bac5cf",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "SorfswMQy49pOxNc",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Code2').item.json.phoneNumber }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        7160,
        5280
      ],
      "id": "33b52391-045f-4c7f-bc06-6aecd618c7a8",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "SorfswMQy49pOxNc",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6720,
        5540
      ],
      "id": "347c8ec7-b444-494e-afeb-cb2fd2cc48dc",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7380,
        5720
      ],
      "id": "68fa6fb9-6457-4f7a-bdae-e0d5d3edfb77",
      "name": "Wait",
      "webhookId": "9b707558-3123-45cd-83ad-5a5d2406db17"
    },
    {
      "parameters": {
        "jsCode": "const rawMessages = $input.first().json.propertyName;\n\n// 1. Parsear as strings JSON, filtrando as que forem inválidas\nconst parsed = rawMessages\n  .map(str => {\n    try { return JSON.parse(str); }\n    catch { return null; }\n  })\n  .filter(Boolean);\n\n// 2. Encontrar a URL da imagem mais recente.\n// A sua lógica está correta, pois o array já vem ordenado do mais novo para o mais antigo.\n// O primeiro item com imagem que o loop encontrar será o mais recente.\nlet latestImageUrl = null;\nfor (const msg of parsed) {\n  if (msg.image?.imageUrl) {\n    latestImageUrl = msg.image.imageUrl;\n    break; // Encontrou a mais recente, pode parar o loop\n  }\n}\n\n// 3. Extrair um único número de telefone (são todos iguais)\nconst phoneNumber = parsed.length > 0 ? parsed[0].phone : null;\n\n// 4. Concatenar todas as mensagens de texto da MAIS ANTIGA para a MAIS NOVA\nconst message = [...parsed] // Cria uma cópia para não alterar o array 'parsed'\n  .reverse() // Inverte para ordenar da mais antiga para a mais nova\n  .map(msg => {\n    // LÓGICA CORRIGIDA: Verifica a estrutura {\"text\": {\"message\": \"...\"}}\n    if (msg.text?.message) {\n      return msg.text.message;\n    }\n    // Mantém a verificação para outras possíveis estruturas\n    if (typeof msg.text === 'string') {\n      return msg.text;\n    }\n    return ''; // Retorna string vazia para mensagens sem texto (ex: só imagem)\n  })\n  .filter(text => text) // Remove as strings vazias\n  .join(' '); // Junta todas as mensagens com um espaço\n\n// 5. Retornar o objeto final\nreturn [{\n  json: {\n    message: message || null, // Retorna a string ou nulo se não houver mensagens\n    imageUrl: latestImageUrl,\n    phoneNumber: phoneNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        5280
      ],
      "id": "ea6186ee-1c03-47db-888b-b6d63f085bcf",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "pending_questions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.phoneNumber }}"
            },
            {
              "keyName": "status",
              "keyValue": "Pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6940,
        5280
      ],
      "id": "ecbe6eb7-b0ae-4db2-a775-0826f74deb88",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.propertyName.length }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "9f965796-dc0d-494a-9230-073bd8817904"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.propertyName[0]).timestamp }}",
                    "rightValue": "={{ Date.now() - 5000 }}",
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "eeebb6dc-eb66-44fd-ae07-f0fc7470039e"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6500,
        5440
      ],
      "id": "e720013a-3c4a-445e-811c-e81e64732e9b",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Code2').item.json.phoneNumber }}"
            },
            {
              "name": "message",
              "value": "={{ $json.correctedMessage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10480,
        4680
      ],
      "id": "312eae31-ac34-4047-9de6-96c5a11379f2",
      "name": "Http Request retorna Mensagem para Wpp1"
    },
    {
      "parameters": {
        "tableId": "pending_questions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Edit Fields1').item.json.body.phone }}"
            },
            {
              "fieldId": "question",
              "fieldValue": "={{ $('Code').item.json.correctedMessage }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Pending"
            },
            {
              "fieldId": "calories",
              "fieldValue": "={{ $('Code').item.json.calories.calculated }}"
            },
            {
              "fieldId": "protein",
              "fieldValue": "={{ $('Code').item.json.nutritionalBreakdown.proteins.grams }}"
            },
            {
              "fieldId": "carbs",
              "fieldValue": "={{ $('Code').item.json.nutritionalBreakdown.carbs.grams }}"
            },
            {
              "fieldId": "fat",
              "fieldValue": "={{ $('Code').item.json.nutritionalBreakdown.fats.grams }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10700,
        4680
      ],
      "id": "ceee9938-d19c-4f47-86a4-b3cfcf34bc36",
      "name": "Supabase cria pending request1",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "Deseja adicionar esta refeição ao log?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10920,
        4680
      ],
      "id": "a066d2dd-eaa8-493b-942b-d50797431bbf",
      "name": "Http Request retorna Mensagem para Wpp2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "Deseja adicionar esta refeição ao log?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10920,
        4480
      ],
      "id": "d5875383-ca3f-4674-bd0b-57b80e23c282",
      "name": "Http Request retorna Mensagem para Wpp3"
    },
    {
      "parameters": {
        "jsCode": "const currentCounter = parseInt($execution.customData.get('counter') || '0');\n$execution.customData.set('counter', (currentCounter + 1).toString());\n\nreturn {\n  json: {\n    counter: currentCounter + 1,\n    item: $input.first().json // pass through your loop data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6940,
        5540
      ],
      "id": "da76bd6e-ed66-4dfe-8830-0c814ab207b4",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "$execution.customData.set('counter', '0');\n\nreturn {\n  json: {\n    message: \"Counter initialized to 0\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5980,
        4820
      ],
      "id": "76cea25d-8a6b-43b7-b938-01b1ed8c076f",
      "name": "Code4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22851519-e7dc-462d-bd72-cf4956fdda3b",
              "leftValue": "={{ $json.counter }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7160,
        5540
      ],
      "id": "b290aa0f-c841-4bd5-b8eb-dcc2bda69167",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7380,
        5480
      ],
      "id": "c76746bb-cffa-4b47-9447-2995843682d0",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "Calculando..."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9160,
        4480
      ],
      "id": "5a70d99d-99a5-4ae1-bb9c-39807548e5df",
      "name": "Http Request retorna Mensagem para Wpp4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "Adicionando..."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9540,
        5680
      ],
      "id": "77ae9e18-6beb-489d-8d0e-7e9455216b38",
      "name": "Http Request retorna Mensagem para Wpp5"
    },
    {
      "parameters": {
        "tableId": "workflow_locks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5760,
        4820
      ],
      "id": "bc4f10c6-3379-4e59-bcb6-b0993ef2f593",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Switch').item.json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10120,
        5680
      ],
      "id": "f0a63a12-a933-42c4-aa11-cacb72baa176",
      "name": "get-user-id",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pending_questions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Pending "
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Processing "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10340,
        5680
      ],
      "id": "e1365b62-0abb-41db-ba9d-37afb395e773",
      "name": "get-message",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46a2307b-f116-48e2-9f4e-eb005e607b57",
              "leftValue": "={{  $items(\"get-message\").length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10560,
        5680
      ],
      "id": "03326466-538c-48eb-9e24-562462d43c03",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe7f54a7-9972-464c-b84d-7903a0b558db",
              "leftValue": "={{ $json.calories }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "882e3255-e64d-40fc-8093-fd62617c6b4b",
              "leftValue": "={{ $json.carbs }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "755cbeea-5327-4f5d-aa10-7437588a54d2",
              "leftValue": "={{ $json.proteins }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "91456a8b-2bb1-480f-8b2f-861c040c658f",
              "leftValue": "={{ $json.fats }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        11000,
        5680
      ],
      "id": "5467246c-3c43-4469-a404-dbbbbd8ac3be",
      "name": "If4"
    },
    {
      "parameters": {
        "tableId": "registros_alimentares",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11600,
        5840
      ],
      "id": "3dbf4265-af64-4511-9917-ed3d9cbe3be8",
      "name": "Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11300,
        5840
      ],
      "id": "bc759f97-ff3c-411e-974f-afe419088cb7",
      "name": "Supabase5",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function determineMealType(currentTime, existingMeals) {\n  const timeToMinutes = (timeStr) => {\n    if (!timeStr || typeof timeStr !== 'string') {\n      return 0; // Default to midnight if invalid\n    }\n    const [hours, minutes] = timeStr.split(':').map(Number);\n    return hours * 60 + minutes;\n  };\n  \n  const currentMinutes = timeToMinutes(currentTime);\n  const morningCutoff = 11 * 60 + 30; // 11:30\n  const afternoonCutoff = 18 * 60 + 30; // 18:30\n  \n  let mealType;\n  \n  if (currentMinutes < morningCutoff) {\n    // Morning period\n    const morningMeals = existingMeals.filter(meal => {\n      if (!meal || !meal.hora_consumo) return false;\n      const mealMinutes = timeToMinutes(meal.hora_consumo);\n      return mealMinutes < morningCutoff;\n    });\n    \n    const count = morningMeals.length + 1;\n    mealType = count === 1 ? 'cafe da manha' : `lanche da manha ${count - 1}`;\n    \n  } else if (currentMinutes < afternoonCutoff) {\n    // Afternoon period\n    const afternoonMeals = existingMeals.filter(meal => {\n      if (!meal || !meal.hora_consumo) return false;\n      const mealMinutes = timeToMinutes(meal.hora_consumo);\n      return mealMinutes >= morningCutoff && mealMinutes < afternoonCutoff;\n    });\n    \n    const count = afternoonMeals.length + 1;\n    mealType = count === 1 ? 'almoco' : `lanche da tarde ${count - 1}`;\n    \n  } else {\n    // Evening period\n    const eveningMeals = existingMeals.filter(meal => {\n      if (!meal || !meal.hora_consumo) return false;\n      const mealMinutes = timeToMinutes(meal.hora_consumo);\n      return mealMinutes >= afternoonCutoff;\n    });\n    \n    const count = eveningMeals.length + 1;\n    mealType = count === 1 ? 'janta' : `lanche da noite ${count - 1}`;\n  }\n  \n  return mealType;\n}\n\n// Get data from previous nodes using correct n8n syntax\nconst nutritionData = $('nutrition-extractor').first().json;\nconst existingMealsData = $('Supabase3').first().json;\n\n// Get current time in Brazil timezone (UTC-3)\nconst now = new Date();\nconst brazilTime = new Date(now.getTime() - (3 * 60 * 60 * 1000)); // UTC-3\nconst currentTime = brazilTime.toTimeString().split(' ')[0].substring(0, 5);\n\n// Handle the case where existingMealsData might be an array or single object\nlet existingMeals = [];\nif (Array.isArray(existingMealsData)) {\n  existingMeals = existingMealsData;\n} else if (existingMealsData) {\n  existingMeals = [existingMealsData];\n}\n\nconst mealType = determineMealType(currentTime, existingMeals);\n\nreturn [{\n  json: {\n    ...nutritionData,\n    tipo_refeicao: mealType,\n    data_consumo: new Date().toISOString().split('T')[0],\n    hora_consumo: currentTime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11820,
        5840
      ],
      "id": "4088322c-6ba1-43a2-83c0-67047d3d7c9a",
      "name": "Code5"
    },
    {
      "parameters": {
        "jsCode": "function extractNutrition(text) {\n  const nutrition = {\n    calories: 0,\n    carbs: 0,\n    proteins: 0,\n    fats: 0\n  };\n  \n  // Check if text exists and is a string\n  if (!text || typeof text !== 'string') {\n    return nutrition;\n  }\n  \n  // Calories patterns\n  const caloriesRegex = /(?:calorias?|kcal|energia)\\s*:?\\s*~?(\\d+(?:[.,]\\d+)?)/i;\n  const caloriesMatch = text.match(caloriesRegex);\n  if (caloriesMatch) nutrition.calories = parseFloat(caloriesMatch[1].replace(',', '.'));\n  \n  // Carbs patterns\n  const carbsRegex = /(?:carboidratos?|carbs?)\\s*:?\\s*~?(\\d+(?:[.,]\\d+)?)g?/i;\n  const carbsMatch = text.match(carbsRegex);\n  if (carbsMatch) nutrition.carbs = parseFloat(carbsMatch[1].replace(',', '.'));\n  \n  // Proteins patterns\n  const proteinsRegex = /(?:proteínas?|proteins?)\\s*:?\\s*~?(\\d+(?:[.,]\\d+)?)g?/i;\n  const proteinsMatch = text.match(proteinsRegex);\n  if (proteinsMatch) nutrition.proteins = parseFloat(proteinsMatch[1].replace(',', '.'));\n  \n  // Fats patterns\n  const fatsRegex = /(?:gorduras?|fats?|lipídios?)\\s*:?\\s*~?(\\d+(?:[.,]\\d+)?)g?/i;\n  const fatsMatch = text.match(fatsRegex);\n  if (fatsMatch) nutrition.fats = parseFloat(fatsMatch[1].replace(',', '.'));\n  \n  return nutrition;\n}\n\n// Get the question field from your JSON input\nconst message = $input.first().json.question;\n\n// Extract nutrition data\nconst extractedData = extractNutrition(message);\n\nreturn [{\n  json: {\n    ...extractedData,\n    original_message: message,\n    extraction_method: 'regex',\n    extracted_at: new Date().toISOString(),\n    // Keep original data for reference\n    id: $input.first().json.id,\n    phone: $input.first().json.phone,\n    status: $input.first().json.status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10780,
        5680
      ],
      "id": "11db2fb6-8e40-4178-b790-57547a574089",
      "name": "nutrition-extractor"
    },
    {
      "parameters": {
        "inputText": "={{ $('Switch').item.json.question }}",
        "options": {
          "categories": "Positive, Neutral, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        9740,
        5780
      ],
      "id": "9b20c06c-f967-4db6-a68c-488c27a8f41c",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        9660,
        6000
      ],
      "id": "f85707f9-4695-4fd9-b550-e517d4508e74",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "1GukOqQFTAL9y3Gf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "pending_questions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Switch').item.json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10160,
        6020
      ],
      "id": "dac009b3-79dd-4b98-ae85-acdb12a11135",
      "name": "Supabase6",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "registros_alimentares",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_id",
              "fieldValue": "={{ $('Supabase3').item.json.usuario_id }}"
            },
            {
              "fieldId": "data_consumo",
              "fieldValue": "={{ $json.data_consumo }}"
            },
            {
              "fieldId": "hora_consumo",
              "fieldValue": "={{ $json.hora_consumo }}"
            },
            {
              "fieldId": "calorias",
              "fieldValue": "={{ $json.calories }}"
            },
            {
              "fieldId": "carboidratos",
              "fieldValue": "={{ $json.carbs }}"
            },
            {
              "fieldId": "proteinas",
              "fieldValue": "={{ $json.proteins }}"
            },
            {
              "fieldId": "gorduras",
              "fieldValue": "={{ $json.fats }}"
            },
            {
              "fieldId": "tipo_refeicao",
              "fieldValue": "={{ $json.tipo_refeicao }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        12040,
        5840
      ],
      "id": "80b4d3a0-4da5-47a7-bca8-9c72b229ef6d",
      "name": "Supabase7",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "pending_questions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Supabase5').item.json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        12420,
        5840
      ],
      "id": "0674050b-2c91-4178-a499-d5b01f01f3d6",
      "name": "Supabase8",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Item adicionado ao log"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12240,
        5840
      ],
      "id": "61efd3c6-e0dd-4ba5-aaed-bbc60621dbaf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e61db71f-6cc8-4eac-8e8d-2f31e18b6a83",
              "leftValue": "={{ $json.data.barcodeValue }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9600,
        4480
      ],
      "id": "975d3778-c1d6-4345-a399-145c0adae654",
      "name": "If-chaca-barcode"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b99fd8fd-a371-42d8-a4a1-6cf909484252",
              "leftValue": "={{ $('Code2').item.json.message }}",
              "rightValue": "={{null}}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9820,
        4580
      ],
      "id": "fe47eea5-6307-494a-b319-72332d2b8d16",
      "name": "If-checa-mensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"*Prompt para Análise Nutricional - Logger de Comida*\\n\\nVocê é um nutricionista virtual especialista em análise de pratos via WhatsApp. Ao receber a imagem de uma refeição, siga rigorosamente este processo:\\n\\n---\\n\\n**PASSO 1: IDENTIFICAÇÃO DO PRATO**\\n- Liste cada alimento visível na foto\\n- Estime o peso aproximado de cada item em gramas (g)\\n- Use porções típicas e bom senso visual\\n\\n**PASSO 2: CÁLCULO NUTRICIONAL DETALHADO**\\nPara cada alimento identificado, informe os seguintes valores por 100g:\\n- Calorias (kcal)\\n- Carboidratos (g)\\n- Proteínas (g)\\n- Gorduras (g)\\n\\n**PASSO 3: CÁLCULO TOTAL PROPORCIONAL**\\nCom base na estimativa de peso, calcule os macros e calorias proporcionais de cada item e faça a soma total da refeição.\\n\\n**PASSO 4: RESPOSTA FINAL - FORMATO WHATSAPP**\\nA resposta final deve ser leve, amigável e com emojis. Siga este formato EXATO de exemplo:\\n\\n---\\n\\n*Exemplo de resposta desejada:*\\n\\n\\\"Que prato gostoso! Vejo aqui arroz branco (~150g) e carne moída com molho (~100g).\\n\\n**Resumo nutricional:**\\n🔥 Calorias: ~556 kcal\\n🌾 Carboidratos: ~50g\\n💪 Proteínas: ~25g\\n🥑 Gorduras: ~25g\\n\\nQuer que eu adicione essa refeição ao seu log de hoje? 📝\\\"\\n\\n---\\n\\n**REGRAS IMPORTANTES:**\\n- Não invente alimentos que não aparecem claramente na imagem\\n- Use linguagem simples e prática\\n- Use negrito nos valores principais (calorias, macros)\\n- Use emojis para deixar o texto leve\\n- Tamanho máximo de resposta: 2 a 3 parágrafos\\n- Inclua sempre a pergunta final sobre adicionar ao log\\n- Seja direto e objetivo\\n- O estilo e tom devem seguir o exemplo acima\\n\\nA saída precisa estar pronta para ser enviada ao WhatsApp, sem necessidade de ajustes.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $('Code2').item.json.imageUrl }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10040,
        4680
      ],
      "id": "75e5ca05-6708-42a3-ac32-27e7dee19964",
      "name": "gpt-api-sem-msg"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"*Prompt para Análise Nutricional – Logger de Comida*\\n\\nVocê é um nutricionista virtual especializado em análise de pratos via *WhatsApp*. Ao receber a imagem de uma refeição, faça sua análise interna completa mas RESPONDA APENAS com o resultado final formatado para o usuário.\\n\\n*PROCESSO INTERNO (NÃO MOSTRAR):*\\n1. Identifique cada alimento e estime pesos em gramas\\n2. Calcule valores nutricionais por 100g de cada item\\n3. Calcule valores proporcionais ao peso estimado\\n4. Some todos os valores\\n\\n*RESPOSTA FINAL (FORMATO OBRIGATÓRIO):*\\nApenas envie uma mensagem com:\\n1. Frase animada com emoji\\n2. Descrição breve do prato identificado\\n3. Resumo nutricional total com emojis específicos:\\n   - 🔥 *XXX kcal* (calorias)\\n   - 💪 *XXg* (proteínas) \\n   - 🥑 *XXg* (gorduras)\\n   - 🌾 *XXg* (carboidratos)\\n4. Pergunta final: \\\"Quer que eu adicione essa refeição ao seu log de hoje? 📝\\\"\\n\\n*DIRETRIZES OBRIGATÓRIAS:*\\n- NÃO mostre seu processo de pensamento ou cálculos\\n- NÃO liste ingredientes individuais ou pesos\\n- NÃO explique sua metodologia\\n- APENAS envie a resposta final formatada\\n- Use *negrito* para os valores numéricos\\n- Máximo 4 linhas de texto para mobile\\n- Linguagem casual e amigável\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Code2').item.json.message }}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $('Code2').item.json.imageUrl }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10040,
        4480
      ],
      "id": "fe46b920-95d0-48fa-b490-7ef4f145ebf7",
      "name": "gpt-api-com-msg"
    },
    {
      "parameters": {
        "jsCode": "// Get the input message from the previous node\nconst inputMessage = $input.first().json.choices[0].message.content;\n\nfunction parseAndValidateNutrition(message) {\n    // Regex patterns to extract nutritional values\n    const caloriesRegex = /🔥 Calorias: ~(\\d+) kcal/;\n    const carbsRegex = /🌾 Carboidratos: ~(\\d+)g/;\n    const proteinsRegex = /💪 Proteínas: ~(\\d+)g/;\n    const fatsRegex = /🥑 Gorduras: ~(\\d+)g/;\n    \n    // Extract values\n    const caloriesMatch = message.match(caloriesRegex);\n    const carbsMatch = message.match(carbsRegex);\n    const proteinsMatch = message.match(proteinsRegex);\n    const fatsMatch = message.match(fatsRegex);\n    \n    if (!caloriesMatch || !carbsMatch || !proteinsMatch || !fatsMatch) {\n        throw new Error('Could not parse all nutritional values from the message');\n    }\n    \n    const originalCalories = parseInt(caloriesMatch[1]);\n    const carbs = parseInt(carbsMatch[1]);\n    const proteins = parseInt(proteinsMatch[1]);\n    const fats = parseInt(fatsMatch[1]);\n    \n    // Calculate correct calories (carbs: 4kcal/g, proteins: 4kcal/g, fats: 9kcal/g)\n    const calculatedCalories = (carbs * 4) + (proteins * 4) + (fats * 9);\n    \n    // Check if calories need correction\n    const needsCorrection = originalCalories !== calculatedCalories;\n    \n    let correctedMessage = message;\n    if (needsCorrection) {\n        // Replace the calories in the message\n        correctedMessage = message.replace(\n            caloriesRegex, \n            `🔥 Calorias: ~${calculatedCalories} kcal`\n        );\n    }\n    \n    return {\n        needsCorrection,\n        originalCalories,\n        calculatedCalories,\n        correctedMessage,\n        calorieDifference: calculatedCalories - originalCalories,\n        breakdown: {\n            carbs: { grams: carbs, calories: carbs * 4 },\n            proteins: { grams: proteins, calories: proteins * 4 },\n            fats: { grams: fats, calories: fats * 9 }\n        }\n    };\n}\n\ntry {\n    const result = parseAndValidateNutrition(inputMessage);\n    \n    return {\n        json: {\n            success: true,\n            originalMessage: inputMessage,\n            correctedMessage: result.correctedMessage,\n            needsCorrection: result.needsCorrection,\n            calories: {\n                original: result.originalCalories,\n                calculated: result.calculatedCalories,\n                difference: result.calorieDifference\n            },\n            nutritionalBreakdown: result.breakdown\n        }\n    };\n    \n} catch (error) {\n    return {\n        json: {\n            success: false,\n            error: error.message,\n            originalMessage: inputMessage\n        }\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10260,
        4680
      ],
      "id": "4381b00a-5d0b-46fe-9ad3-c5067524e3f5",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// Get the input message from the previous node\nconst inputMessage = $input.first().json.choices[0].message.content;\n\nfunction parseAndValidateNutrition(message) {\n    // Regex patterns to extract nutritional values\n    const caloriesRegex = /🔥 Calorias: ~(\\d+) kcal/;\n    const carbsRegex = /🌾 Carboidratos: ~(\\d+)g/;\n    const proteinsRegex = /💪 Proteínas: ~(\\d+)g/;\n    const fatsRegex = /🥑 Gorduras: ~(\\d+)g/;\n    \n    // Extract values\n    const caloriesMatch = message.match(caloriesRegex);\n    const carbsMatch = message.match(carbsRegex);\n    const proteinsMatch = message.match(proteinsRegex);\n    const fatsMatch = message.match(fatsRegex);\n    \n    if (!caloriesMatch || !carbsMatch || !proteinsMatch || !fatsMatch) {\n        throw new Error('Could not parse all nutritional values from the message');\n    }\n    \n    const originalCalories = parseInt(caloriesMatch[1]);\n    const carbs = parseInt(carbsMatch[1]);\n    const proteins = parseInt(proteinsMatch[1]);\n    const fats = parseInt(fatsMatch[1]);\n    \n    // Calculate correct calories (carbs: 4kcal/g, proteins: 4kcal/g, fats: 9kcal/g)\n    const calculatedCalories = (carbs * 4) + (proteins * 4) + (fats * 9);\n    \n    // Check if calories need correction\n    const needsCorrection = originalCalories !== calculatedCalories;\n    \n    let correctedMessage = message;\n    if (needsCorrection) {\n        // Replace the calories in the message\n        correctedMessage = message.replace(\n            caloriesRegex, \n            `🔥 Calorias: ~${calculatedCalories} kcal`\n        );\n    }\n    \n    return {\n        needsCorrection,\n        originalCalories,\n        calculatedCalories,\n        correctedMessage,\n        calorieDifference: calculatedCalories - originalCalories,\n        breakdown: {\n            carbs: { grams: carbs, calories: carbs * 4 },\n            proteins: { grams: proteins, calories: proteins * 4 },\n            fats: { grams: fats, calories: fats * 9 }\n        }\n    };\n}\n\ntry {\n    const result = parseAndValidateNutrition(inputMessage);\n    \n    return {\n        json: {\n            success: true,\n            originalMessage: inputMessage,\n            correctedMessage: result.correctedMessage,\n            needsCorrection: result.needsCorrection,\n            calories: {\n                original: result.originalCalories,\n                calculated: result.calculatedCalories,\n                difference: result.calorieDifference\n            },\n            nutritionalBreakdown: result.breakdown\n        }\n    };\n    \n} catch (error) {\n    return {\n        json: {\n            success: false,\n            error: error.message,\n            originalMessage: inputMessage\n        }\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10260,
        4480
      ],
      "id": "83839aec-fa05-420c-8be7-ec561bd4c79b",
      "name": "Code6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "202af928-a324-411a-bf15-68a349e7bf9e",
                    "leftValue": "={{ $json.body.audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "08fd0c80-307e-4f45-b1de-35192ee4ec5e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4440,
        4820
      ],
      "id": "16a16c56-fdbe-4de2-884e-de0c6a314f69",
      "name": "Check Input Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c05a7fbf-309a-407e-9fee-7e0b03f4a5c8",
              "name": "text",
              "value": "={{ $json.body.text.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5100,
        4920
      ],
      "id": "b3b86df7-109d-4fab-b86a-43500ced2b5e",
      "name": "Text Only Prompt"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4880,
        4720
      ],
      "id": "f895cd3a-b694-4b1d-a495-c8408c8ea10b",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "1GukOqQFTAL9y3Gf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "219577d5-b028-48fc-90be-980f4171ab68",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5100,
        4720
      ],
      "id": "1f20ee3a-ffc7-4498-b8eb-c5e501fa469a",
      "name": "Audio Prompt"
    },
    {
      "parameters": {
        "url": "={{ $json.body.audio.audioUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        4720
      ],
      "id": "4c0c5908-3d31-41b0-bd88-df2324316802",
      "name": "Download Z-API Audio"
    },
    {
      "parameters": {
        "content": "Verificação de audio",
        "height": 360,
        "width": 1060
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4380,
        4680
      ],
      "typeVersion": 1,
      "id": "a692dd9c-7094-4aac-be53-8469c8328c34",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Parece que você ainda não registrou nenhuma refeição..."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15140,
        6640
      ],
      "id": "b26cc895-c7fe-4991-94ea-c33e95afa75c",
      "name": "info dieta8",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\n//valores iniciais\nlet totais = {\n  calorias : 0,\n  carboidratos : 0,\n  proteinas : 0,\n  gorduras : 0\n};\n\n\n// somatório das refeições\nfor (const item of items) {\n  const r = item.json;\n  totais.calorias += r.calorias;\n  totais.carboidratos += r.carboidratos;\n  totais.proteinas += r.proteinas;\n  totais.gorduras += r.gorduras;\n  \n}\n\n// json com os valores totais \nreturn totais;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15600,
        6160
      ],
      "id": "3cd61ef3-258a-4331-80ef-23e96e130f29",
      "name": "Calculo dos totais"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16640,
        6520
      ],
      "id": "ecf81cab-a0f3-49cf-8c2f-1b0de713d614",
      "name": "enviar o historico",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        14280,
        6260
      ],
      "id": "9c302d90-1d37-45b0-9c46-032d739392a1",
      "name": "Busca dieta",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "registros_alimentares",
        "returnAll": true,
        "filterType": "=manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_id",
              "condition": "eq",
              "keyValue": "={{ $json.usuario_id }}"
            },
            {
              "keyName": "data_consumo",
              "condition": "eq",
              "keyValue": "={{DateTime.now() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        14540,
        6260
      ],
      "id": "b7d8e91b-d27e-4d19-8f00-604478d7a89d",
      "name": "Busca historico diario",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Unir Metas e Totais",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        16400,
        6520
      ],
      "id": "45a981fd-89f0-4194-b6d0-f982f8731235"
    },
    {
      "parameters": {
        "jsCode": "let resposta = \"📊 Registros alimentares do dia:\\n\\n\";\n\nfor (const item of items) {\n  const r = item.json;\n  resposta += `🍽️ Refeição: ${r.tipo_refeicao}\\n`;\n  resposta += `🍛 Alimento: ${r.nome_alimento}\\n`;\n  resposta += `🔥 Calorias: ${r.calorias} kcal\\n`;\n  resposta += `🥖 Carboidratos: ${r.carboidratos}g\\n`;\n  resposta += `🥩 Proteínas: ${r.proteinas}g\\n`;\n  resposta += `🧈 Gorduras: ${r.gorduras}g\\n`;\n  resposta += `🕒 Hora: ${r.hora_consumo}\\n\\n`;\n}\n\nreturn [{ json: { text: resposta, phone: $('Webhook').first().json.body.phone } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15740,
        6920
      ],
      "id": "2695436b-625a-48a1-90b2-f176b36a9387",
      "name": "Monta histórico dos registros"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "459e7f9b-4f9c-4849-881c-4a0dcd59873b",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14960,
        6260
      ],
      "id": "d2ca0ebb-d78f-49d3-985b-95b644abf447",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const dados_dieta = $('Busca dieta').first().json;\nconst dados_consumidos = $('Calculo dos totais').first().json;\n \n\n\nfunction avaliar(consumido, meta, unidade = \"g\") {\n  const diff = consumido - meta;\n  if (diff < 0) {\n    return `${consumido}${unidade} / ${meta}${unidade} → Faltam ${Math.abs(diff)}${unidade}`;\n  } else if (diff === 0) {\n    return `${consumido}${unidade} / ${meta}${unidade} → Meta atingida! 🎯`;\n  } else {\n    return `${consumido}${unidade} / ${meta}${unidade} → Excedeu em ${diff}${unidade} ⚠️`;\n  }\n}\n\nlet resposta = \"📊 Comparativo da dieta diária:\\n\\n\";\nresposta += `🔥 Calorias: ${avaliar(dados_consumidos.calorias, dados_dieta.calorias_diarias, \" kcal\")}\\n`;\nresposta += `🥖 Carboidratos: ${avaliar(dados_consumidos.carboidratos, dados_dieta.carboidrato_gramas)}\\n`;\nresposta += `🥩 Proteínas: ${avaliar(dados_consumidos.proteinas, dados_dieta.proteina_gramas)}\\n`;\nresposta += `🧈 Gorduras: ${avaliar(dados_consumidos.gorduras, dados_dieta.gordura_gramas)}\\n`;\n\nreturn [{ json: { text: resposta,\n                phone: dados_dieta.usuario_telefone} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16200,
        6160
      ],
      "id": "b5c3357a-2908-4916-a5a3-05cbc74ec22c",
      "name": "Compara com a dieta",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "inputText": "={{ $('Code2').item.json.message }}",
        "options": {
          "categories": "Quer Relatorio, não quer relatorio"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        7960,
        6240
      ],
      "id": "988164c0-6d54-4463-8953-fe93b56a9f1a",
      "name": "Sentiment Analysis1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7940,
        6540
      ],
      "id": "62b10b83-7459-4f1b-b778-ff076c18e5ce",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "1GukOqQFTAL9y3Gf",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.caloscan.com.br",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64; rv:111.0) Gecko/20100101 Firefox/111.0",
            "content-length": "783",
            "content-type": "application/json",
            "origin": "https://api.z-api.io",
            "server": "Z-API",
            "via": "2.0 Caddy",
            "x-forwarded-for": "137.131.144.160",
            "x-forwarded-host": "n8n.caloscan.com.br",
            "x-forwarded-proto": "https",
            "z-api-token": "ED2BF32A855B887106BAAD09",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "isStatusReply": false,
            "chatLid": "184980013592738@lid",
            "connectedPhone": "5521974610397",
            "waitingMessage": false,
            "isEdit": false,
            "isGroup": false,
            "isNewsletter": false,
            "instanceId": "3E1D888E8D8DE07F56022E7FADD21987",
            "messageId": "3F69CCDA33B5F65BAA78",
            "phone": "5521975911777",
            "fromMe": false,
            "momment": 1752624303000,
            "status": "RECEIVED",
            "chatName": "Pedro Silvestre",
            "senderPhoto": null,
            "senderName": "Pedro 🙃",
            "photo": "https://pps.whatsapp.net/v/t61.24694-24/421227589_1039872240450622_6240477542377425045_n.jpg?ccb=11-4&oh=01_Q5Aa2AEEIdhN-wMsIRX6fJfY9NBTi51z5Rktivj3xtx5_m4SRQ&oe=6883DAF4&_nc_sid=5e03e0&_nc_cat=107",
            "broadcast": false,
            "participantLid": null,
            "messageExpirationSeconds": 0,
            "forwarded": false,
            "type": "ReceivedCallback",
            "fromApi": false,
            "text": {
              "message": "e o feijão vermelho?"
            }
          },
          "webhookUrl": "https://n8n.caloscan.com.br/webhook/44b25479-1cf5-4edc-8c21-cc62fc7d91da",
          "executionMode": "production"
        }
      }
    ],
    "AI Agent1": [
      {
        "json": {
          "output": "O feijão vermelho, também conhecido como feijão do tipo kidney, é uma excelente opção para incluir na sua alimentação! Aqui estão alguns pontos interessantes sobre ele:\n\n1. **Nutrição**: O feijão vermelho é uma fonte rica em proteínas, fibras, vitaminas (como as do complexo B) e minerais (como ferro e potássio). As fibras são especialmente importantes para a saúde digestiva e podem ajudar na saciedade.\n\n2. **Saúde do coração**: Por ser rico em fibras e antioxidantes, o feijão vermelho pode ajudar a reduzir o colesterol LDL (\"ruim\") e melhorar a saúde do coração.\n\n3. **Controle de açúcar no sangue**: Devido ao seu baixo índice glicêmico, o feijão vermelho liberação de glicose de maneira mais lenta na corrente sanguínea, o que pode ser benéfico para o controle da glicose.\n\n4. **Versatilidade**: Ele pode ser utilizado em diversas receitas, como sopas, saladas, chili e até mesmo como acompanhamento. \n\n5. **Preparação**: É sempre importante cozinhar bem o feijão vermelho, pois ele contém toxinas que podem ser prejudiciais se ingeridas cruas ou mal cozidas.\n\nSe você tem alguma dúvida específica sobre o feijão vermelho ou como incorporá-lo à sua dieta, sinta-se à vontade para perguntar!"
        }
      }
    ]
  },
  "connections": {
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Check Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "barcode-scanner1": {
      "main": [
        [
          {
            "node": "If-chaca-barcode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request retorna macros para wpp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Http Request retorna Mensagem para Wpp4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Http Request retorna Mensagem para Wpp5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sentiment Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Http Request retorna Mensagem para Wpp": {
      "main": [
        [
          {
            "node": "Supabase cria pending request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase cria pending request": {
      "main": [
        [
          {
            "node": "Http Request retorna Mensagem para Wpp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request retorna macros para wpp": {
      "main": [
        [
          {
            "node": "Busca dieta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Http Request retorna Mensagem para Wpp1": {
      "main": [
        [
          {
            "node": "Supabase cria pending request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase cria pending request1": {
      "main": [
        [
          {
            "node": "Http Request retorna Mensagem para Wpp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Http Request retorna Mensagem para Wpp2": {
      "main": [
        [
          {
            "node": "Busca dieta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Http Request retorna Mensagem para Wpp3": {
      "main": [
        [
          {
            "node": "Busca dieta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Http Request retorna Mensagem para Wpp4": {
      "main": [
        [
          {
            "node": "barcode-scanner1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Http Request retorna Mensagem para Wpp5": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-user-id": {
      "main": [
        [
          {
            "node": "get-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-message": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "nutrition-extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase3": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Supabase7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nutrition-extractor": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "get-user-id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase7": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-chaca-barcode": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If-checa-mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-checa-mensagem": {
      "main": [
        [
          {
            "node": "gpt-api-com-msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "gpt-api-sem-msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-api-sem-msg": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-api-com-msg": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Http Request retorna Mensagem para Wpp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Http Request retorna Mensagem para Wpp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Input Type": {
      "main": [
        [
          {
            "node": "Download Z-API Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Only Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Only Prompt": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Audio Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Prompt": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Z-API Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculo dos totais": {
      "main": [
        [
          {
            "node": "Compara com a dieta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca dieta": {
      "main": [
        [
          {
            "node": "Busca historico diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca historico diario": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Metas e Totais": {
      "main": [
        [
          {
            "node": "enviar o historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta histórico dos registros": {
      "main": [
        [
          {
            "node": "Unir Metas e Totais",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Calculo dos totais",
            "type": "main",
            "index": 0
          },
          {
            "node": "Monta histórico dos registros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara com a dieta": {
      "main": [
        [
          {
            "node": "Unir Metas e Totais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis1": {
      "main": [
        [
          {
            "node": "Busca dieta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e4bf9e0-46f8-462c-a3dd-0d7b4df6d8cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47f5151e1feedfc56c8165323ec3b572b376ad9a1737b53f18d620111e7cf651"
  },
  "id": "hklLtEfI1NN8EKTP",
  "tags": []
}