CaloScan/onboarding_copy_final.json
{
  "name": "onboarding copy final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7baf5cc0-75ce-432d-9ced-5733079c40ec",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2160,
        -20
      ],
      "id": "72853798-f77c-4092-b106-d59b9da6e2a3",
      "name": "Webhook",
      "webhookId": "7baf5cc0-75ce-432d-9ced-5733079c40ec"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bef07082-c3c9-4da4-8f7a-6d5e345adff9",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "aguardando_nome",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ce2aa7e-0a90-4ae9-b8c3-6e4f4bcc157d",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "resposta_dieta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad710b87-dcfd-4122-baa2-6993883ae947",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "quantidade_calorias",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96f087a6-943b-471f-9926-2971c52b84c3",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "quantidade_proteina",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "621009d4-10db-443f-82da-c62cb19cfb56",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "quantidade_carbo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d59ea8b-4ca3-4c4b-bdc6-aff510a96d0c",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "quantidade_gordura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "842587fa-c8b0-48a8-8e26-5c9aaa0a5c22",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "info_altura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84f957f0-275b-4400-be71-db1192f97911",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "info_peso",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6217bc2-7998-45d2-9c8f-5c7a798ba7a3",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "=info_idade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "62a42355-40dc-4de3-b564-1b152d4878b8",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "info_sexo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3bb99ac-cd32-43d7-9942-b94688ca2bf1",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "info_atividade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "252e7a8f-42b8-4690-853d-e82b8c3b60e0",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "info_objetivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c461a63-1782-4ba7-9c7f-7353c475cac7",
                    "leftValue": "={{ $('Já passou pelo onboarding?').item.json.estado_atual }}",
                    "rightValue": "opcoes_fluxos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2000,
        -260
      ],
      "id": "f061f351-3675-4564-9830-4255118c2de5",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32671527-4b4e-4bc0-af28-cc615c062168",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5000,
        -80
      ],
      "id": "51731e6b-2968-4888-ad55-ebc3e22ede4b",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tem_dieta_previa",
              "fieldValue": "True"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5620,
        -20
      ],
      "id": "13831e9c-3db5-4b37-9cba-6c18b3761a60",
      "name": "Supabase5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "calorias_diarias",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6040,
        220
      ],
      "id": "a455491c-85dc-42fc-b395-e315f6eb8945",
      "name": "Supabase7"
    },
    {
      "parameters": {
        "tableId": "dietas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "fieldId": "data_criacao",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5760,
        -20
      ],
      "id": "540368c0-eef2-45c8-92fd-a560e5d97db7",
      "name": "Supabase8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Legal! Vamos configurar sua dieta. Quantas calorias você consome por dia?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        -20
      ],
      "id": "1753ab98-02fa-422e-8f09-8cd5bf869cbb",
      "name": "qtd calorias",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Registrado! Agora, qual a quantidade diária de proteínas em gramas? (exemplo: 100g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5700,
        220
      ],
      "id": "8613241b-527a-4e94-aa96-7f339bb88c57",
      "name": "qtd proteina",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Ótimo! E a quantidade diária de carboidratos em gramas? (exemplo: 250g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5500,
        400
      ],
      "id": "ae82298e-44d1-4786-ab71-18cc51316d6c",
      "name": "qtd carbo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "resposta_dieta"
            },
            {
              "fieldId": "dados_contexto",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5040,
        -1120
      ],
      "id": "05326e97-1cf6-45a2-bce5-7ab1bc0e81a6",
      "name": "update estado1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_calorias"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5460,
        -20
      ],
      "id": "2262e9ba-37a3-4fed-8eb0-1eaf9e671db4",
      "name": "update estado2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_proteina"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5880,
        220
      ],
      "id": "f23d9cd6-5954-4222-bc81-fe1e7006df25",
      "name": "update estado3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_carbo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5680,
        400
      ],
      "id": "3491a537-0e50-49c5-a9dd-1ff4403aea4e",
      "name": "Supabase"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proteina_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5840,
        400
      ],
      "id": "ebe97959-fb66-4864-946f-6c9140d4281e",
      "name": "Supabase2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito! Por último, qual a quantidade diária de gorduras em gramas? (exemplo: 70g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5500,
        720
      ],
      "id": "4eb535fe-1b7f-477a-b515-1b873f0437b9",
      "name": "qtd gordura",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_gordura"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5680,
        720
      ],
      "id": "2d375c57-8724-4b78-9870-7430fc28e156",
      "name": "Supabase4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "carboidrato_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5840,
        720
      ],
      "id": "e515dc40-da35-4e36-9b60-434d7fb3fa92",
      "name": "Supabase6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "opcoes_fluxos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5500,
        1040
      ],
      "id": "76c83f39-599f-4a88-9ff5-a0642aa4626f",
      "name": "Supabase11"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "gordura_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5720,
        1040
      ],
      "id": "89525b06-552f-4a46-a017-3d0ca09d7f6c",
      "name": "Supabase12"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5940,
        1040
      ],
      "id": "847691cd-834a-4cc1-b0fe-be42b715447c",
      "name": "Supabase13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Sua dieta foi configurada com sucesso!\nCalorias diárias: {{ $json.calorias_diarias }} kcal\nProteínas: {{ $json.proteina_gramas }} g\nCarboidratos:{{ $json.carboidrato_gramas }}g\nGorduras: {{ $json.gordura_gramas }}g\n\n Agora você está pronto(a) para começar a registrar suas refeições!\n O que você gostaria de fazer agora?\n 1️⃣ Enviar uma foto de uma refeição\n 2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6160,
        1040
      ],
      "id": "4482ec22-43e0-4c59-bcfd-88f38f85394e",
      "name": "qtd gordura1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_altura"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5460,
        -240
      ],
      "id": "3f71a3ca-d77d-4294-a8b6-e3e829f94cb7",
      "name": "update estado5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Registrado! Agora, qual o seu peso atual em kg? (exemplo: 70)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5060,
        1260
      ],
      "id": "d61f0f73-35b7-4c02-93f6-5ff80fa7252d",
      "name": "info dieta2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_peso"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5300,
        1260
      ],
      "id": "847a317f-9c3b-4b96-819b-f9d8d05748eb",
      "name": "update estado6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "altura",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5500,
        1260
      ],
      "id": "d59909a5-e745-4d1d-a7fc-abd013aa683d",
      "name": "Supabase14"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito! Qual a sua idade?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5060,
        1500
      ],
      "id": "8b6a3178-4d1d-4daa-8dc3-4df85cf57760",
      "name": "info dieta3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_idade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5280,
        1500
      ],
      "id": "1480732c-6d14-45a5-8bee-9669689384e3",
      "name": "update estado7"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "peso",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5460,
        1500
      ],
      "id": "3b005aa9-344f-4a4f-b1ce-9b10e2f06922",
      "name": "Supabase15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Agora, com qual sexo você se identifica?\n 1️⃣ Masculino\n 2️⃣ Feminino"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5060,
        1840
      ],
      "id": "dcd28a58-b2fe-4a9a-8dc4-5173cfbaf0f6",
      "name": "info dieta4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_sexo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5220,
        1840
      ],
      "id": "b3680382-8e7a-4635-8ded-ef100d08d925",
      "name": "update estado8"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idade",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5360,
        1840
      ],
      "id": "730597c7-f668-4da8-91e8-0f8f2971406d",
      "name": "Supabase16"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Entendido! Agora, qual é o seu nível de atividade física?\n 1️⃣ Sedentário (pouco ou nenhum exercício)\n 2️⃣ Levemente ativo (exercício leve 1-3 dias/semana)\n 3️⃣ Moderadamente ativo (exercício moderado 3-5 dias/semana)\n 4️⃣ Muito ativo (exercício intenso 6-7 dias/semana)\n 5️⃣ Extremamente ativo (trabalho físico ou exercício muito intenso)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5100,
        2180
      ],
      "id": "b883fba5-a64a-426f-9f08-cf97bfb8b8a8",
      "name": "info dieta5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_atividade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5280,
        2180
      ],
      "id": "31f32cc9-21ce-4125-9175-a4ab83614d10",
      "name": "update estado9"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sexo",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5440,
        2180
      ],
      "id": "bddce35d-1970-4a43-9c80-b171488806f4",
      "name": "Supabase17"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Entendido! Agora, qual é o seu principal objetivo?\n1️⃣ Emagrecer\n2️⃣ Manter o peso\n3️⃣ Ganhar massa muscular"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5060,
        2600
      ],
      "id": "36297b94-8c06-44aa-864b-e8bdf79008fc",
      "name": "info dieta6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_objetivo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5260,
        2600
      ],
      "id": "27152b2c-8f3b-41db-8ac9-5d176583c1ff",
      "name": "update estado10"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nivel_atividade",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5440,
        2600
      ],
      "id": "49898783-6073-4703-be7f-6831242a94b7",
      "name": "Supabase18"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Calculando sua dieta personalizada..."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5080,
        2960
      ],
      "id": "27724c49-7031-4290-8ca9-287d904d2df7",
      "name": "info dieta7",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "opcoes_fluxos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5280,
        2960
      ],
      "id": "c6a431d2-538c-4d10-bc8d-b0afda6db262",
      "name": "update estado11"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "objetivo",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5460,
        2960
      ],
      "id": "21ff6032-b452-49c8-bef0-506cd56f22bd",
      "name": "Supabase19"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5620,
        2960
      ],
      "id": "647ca587-3875-4321-9820-0aad039514f8",
      "name": "Supabase20",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// --- PEGANDO VARIÁVEIS DIRETAMENTE DO NODE 'Supabase19' ---\n// Tentamos pegar as variáveis de forma segura. Se o nó Supabase19 não tiver esses campos,\n// eles serão undefined, e as conversões/validações abaixo lidarão com isso.\nconst itemSupabase = $('Supabase19').first().json;\n\n// Extração e conversão de valores para números.\n// Number() tentará converter e retornará NaN se não for um número válido.\nconst peso = Number(itemSupabase.peso);\nconst altura = Number(itemSupabase.altura);\nconst idade = Number(itemSupabase.idade);\n\n// Variáveis que podem ser strings. Usamos || \"\" para garantir que sejam strings vazias se undefined.\n// .toLowerCase() para padronizar as entradas.\nconst sexo = (itemSupabase.sexo || \"\").toLowerCase();\nconst objetivo = 'emagrecer';\n\n// parseInt() para nível de atividade. Usamos 10 para base decimal.\n// Se não for um número válido, será NaN, o que será tratado na validação.\nconst nivelAtividadeInput = parseInt(itemSupabase.nivel_atividade, 10);\nlet nivelAtividade = 2; // Valor padrão caso a entrada seja inválida ou fora da faixa\n\n// --- VALIDAÇÃO DE ENTRADAS CRÍTICAS ---\n// Retorna um erro se qualquer dado essencial for inválido.\n\n// 1. Validação de peso, altura, idade\nif (isNaN(peso) || peso <= 0 ||\n    isNaN(altura) || altura <= 0 ||\n    isNaN(idade) || idade <= 0) {\n  return [\n    {\n      json: {\n        erro: \"Erro: Peso, altura ou idade inválidos. Certifique-se de que são números positivos.\"\n      }\n    }\n  ];\n}\n\n// 2. Validação de sexo\nif (sexo !== \"masculino\" && sexo !== \"feminino\") {\n  return [\n    {\n      json: {\n        erro: \"Erro: Sexo inválido. Use 'masculino' ou 'feminino'.\"\n      }\n    }\n  ];\n}\n\n// 3. Validação de objetivo\n// Adicionando um array de objetivos válidos para validação mais robusta\nconst objetivosValidos = [\"emagrecer\", \"manter\", \"ganhar\"];\nif (!objetivosValidos.includes(objetivo)) {\n  return [\n    {\n      json: {\n        erro: `Erro: Objetivo inválido. Use um dos seguintes: ${objetivosValidos.join(', ')}.`\n      }\n    }\n  ];\n}\n\n// 4. Validação e ajuste de Nível de Atividade\n// Se o nível de atividade do input for um número válido e dentro da faixa, use-o.\n// Caso contrário, o 'nivelAtividade' já está definido como 2 (padrão).\nif (!isNaN(nivelAtividadeInput) && nivelAtividadeInput >= 1 && nivelAtividadeInput <= 5) {\n  nivelAtividade = nivelAtividadeInput;\n} else {\n    // Podemos retornar um aviso aqui ou apenas usar o padrão sem erro fatal\n    // console.warn(\"Aviso: Nível de atividade inválido. Usando o valor padrão (2 - atividade leve).\");\n}\n\n// --- FATORES DE ATIVIDADE (PARA CÁLCULO DO GET) ---\nconst fatoresAtividade = {\n  1: 1.2,    // Sedentário\n  2: 1.375,  // Levemente Ativo (1-3 dias/semana)\n  3: 1.55,   // Moderadamente Ativo (3-5 dias/semana)\n  4: 1.725,  // Muito Ativo (6-7 dias/semana)\n  5: 1.9     // Extremamente Ativo (Atletas, 2x ao dia)\n};\n\n// --- CÁLCULO DA TMB (TAXA METABÓLICA BASAL) ---\nlet tmb = 0;\nif (sexo === \"masculino\") {\n  tmb = (10 * peso) + (6.25 * altura) - (5 * idade) + 5;\n} else { // sexo === \"feminino\" (já validado)\n  tmb = (10 * peso) + (6.25 * altura) - (5 * idade) - 161;\n}\n\n// --- CÁLCULO DO GET (GASTO ENERGÉTICO TOTAL) ---\n// Usa o fator de atividade correspondente, ou 1.2 (sedentário) como fallback.\nconst fatorAtividadeAplicado = fatoresAtividade[nivelAtividade] || 1.2;\nlet calorias = tmb * fatorAtividadeAplicado;\n\n// --- AJUSTE DE CALORIAS PELO OBJETIVO ---\nif (objetivo === \"emagrecer\") {\n  calorias *= 0.8; // Reduz em 20%\n} else if (objetivo === \"ganhar\") {\n  calorias *= 1.15; // Aumenta em 15%\n}\ncalorias = Math.round(calorias); // Arredonda para o número inteiro mais próximo\n\n// --- CÁLCULO DOS MACRONUTRIENTES ---\nlet proteinaPorKg = 2.0; // Padrão\nlet gorduraPorKg = 0.8;  // Padrão\n\nif (objetivo === \"emagrecer\") {\n  proteinaPorKg = 2.2; // Maior para emagrecimento\n  gorduraPorKg = 0.7;  // Menor para emagrecimento\n} else if (objetivo === \"ganhar\") {\n  proteinaPorKg = 2.0; // Mantém\n  gorduraPorKg = 1.0;  // Um pouco mais para ganho\n}\n\nconst proteinas = Math.round(proteinaPorKg * peso);\nconst kcalProteinas = proteinas * 4; // 1g Proteína = 4 kcal\n\nconst gorduras = Math.round(gorduraPorKg * peso);\nconst kcalGorduras = gorduras * 9; // 1g Gordura = 9 kcal\n\n// Carboidratos preenchem o restante das calorias\nconst kcalRestantesParaCarboidratos = calorias - (kcalProteinas + kcalGorduras);\n// Garante que carboidratos não sejam negativos\nconst carboidratos = Math.max(0, Math.round(kcalRestantesParaCarboidratos / 4)); // 1g Carboidrato = 4 kcal\n\n// --- RETORNO DOS RESULTADOS ---\n// O N8N espera um array de objetos, onde cada objeto tem uma propriedade 'json'.\nreturn [\n  {\n    json: {\n      peso,\n      altura,\n      idade,\n      sexo,\n      objetivo,\n      nivelAtividade, // Nível de atividade final (pode ser o padrão 2)\n      tmb: Math.round(tmb), // Arredonda TMB para facilitar a leitura\n      fatorAtividadeAplicado, // O fator usado para o cálculo do GET\n      calorias, // Este é o GET final ajustado\n      proteinas,\n      carboidratos,\n      gorduras,\n      // Opcional: retornar as calorias de cada macronutriente para verificação\n      kcalProteinas,\n      kcalGorduras,\n      kcalCarboidratos: carboidratos * 4 // Calorias dos carboidratos\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5800,
        2960
      ],
      "id": "cd50ddad-c0dc-43ee-84a3-d37028427b84",
      "name": "Code",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "tableId": "dietas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "calorias_diarias",
              "fieldValue": "={{ $json.calorias }}"
            },
            {
              "fieldId": "proteina_gramas",
              "fieldValue": "={{ $json.proteinas }}"
            },
            {
              "fieldId": "carboidrato_gramas",
              "fieldValue": "={{ $json.carboidratos }}"
            },
            {
              "fieldId": "gordura_gramas",
              "fieldValue": "={{ $json.gorduras }}"
            },
            {
              "fieldId": "data_criacao",
              "fieldValue": "={{ $today }}"
            },
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5980,
        2960
      ],
      "id": "c56f2f2c-f7d5-472b-a883-efc68412fcbf",
      "name": "Supabase21"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Sua dieta personalizada foi criada com sucesso! 🎉\n\nConfira os detalhes:\n- Calorias diárias: {{ $json.calorias_diarias }}kcal\n- Proteínas: {{ $json.proteina_gramas }}g\n- Carboidratos: {{ $json.carboidrato_gramas }}g\n- Gorduras: {{ $json.gordura_gramas }}g\n\nLembre-se que esta é uma estimativa. Para resultados ainda melhores, consulte um profissional de saúde.\n\n Agora você está pronto(a) para começar a registrar suas refeições!\n O que você gostaria de fazer agora?\n 1️⃣ Enviar uma foto de uma refeição\n 2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6160,
        2960
      ],
      "id": "56a2e398-a269-4ce9-a2be-056f67ae4302",
      "name": "info dieta8",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "fluxo_real"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4580,
        3320
      ],
      "id": "84d1613f-94cc-45e9-8bf3-ddbc46f2dd0f",
      "name": "Supabase24"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1820,
        -20
      ],
      "id": "c2ea2bdb-6102-48b4-82f7-5a6d10bd1409",
      "name": "BUSCA ESTADO_C",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92a936be-352b-499e-91fb-0dc9d50093a2",
              "leftValue": "={{ $json.estado_atual }}",
              "rightValue": "fluxo_real",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "0ee50b0e-0b9c-48d7-b564-d07384519389",
              "leftValue": "={{ $json.estado_atual }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1660,
        -20
      ],
      "id": "87048db8-19d5-4503-aaaf-93a8c9a541e9",
      "name": "Já passou pelo onboarding?"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1980,
        -20
      ],
      "id": "0e0b2e8c-f9ae-4fc7-84b3-c52f3653e923",
      "name": "BUSCA DIETA",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        -20
      ],
      "id": "fa862f15-8967-420f-aa28-254af80ffe4d",
      "name": "BUSCA USUÁRIO",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cbc2dc42-22ff-4362-bfc6-cbebf8c9afa5",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -500,
        -20
      ],
      "id": "e1236ac2-877c-431b-9df1-588bff84d8ca",
      "name": "primeira mensagem?"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        320
      ],
      "id": "8df79731-f9c0-45ee-bbda-e2d63e413385",
      "name": "Cria novo usuário"
    },
    {
      "parameters": {
        "tableId": "estados_conversa",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        360,
        320
      ],
      "id": "5927415b-4a31-47fb-a756-f650afc3cabf",
      "name": "Inicializa estados_conversa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "👋 Olá! Bem-vindo(a) ao CaloScan! Vamos personalizar sua experiência. Para começar, me diga seu nome completo."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        320
      ],
      "id": "b4d7c605-ded1-452a-aab3-b8d11b271db8",
      "name": "Pergunta nome",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Cria novo usuário').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "aguardando_nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        740,
        320
      ],
      "id": "ac2bd3e3-acac-4d7e-a656-90560bdbdfaf",
      "name": "Atualiza estado"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5200,
        -1120
      ],
      "id": "6ef43a75-c3ed-47ef-916b-d1d445acb080",
      "name": "guarda o nome"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Sem problemas! Vamos criar sua dieta personalizada. Para isso, preciso de algumas informações.\n Qual a sua altura em centímetros? (exemplo: 175)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5260,
        -240
      ],
      "id": "8ddc1f09-7190-4a5c-871f-94fa3c059a7e",
      "name": "Inicializa criação dieta",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Recebe infos dieta atual\n",
        "height": 1060,
        "width": 1540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4700,
        200
      ],
      "id": "bacc84d7-1f52-4e8b-9986-11e19701f433",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Cria dieta\n",
        "height": 2000,
        "width": 2600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3980,
        1280
      ],
      "id": "57b38112-0135-4105-8eb8-dac02dc37217",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito, {{ $('Webhook').item.json.body.text.message }}! \nAgora, me conte: você já tem uma dieta estabelecida?  \n1️⃣ Sim, já tenho uma dieta definida  \n2️⃣ Não, preciso de ajuda para criar uma "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5360,
        -1120
      ],
      "id": "7fe40dea-7dc1-4bee-bef6-7a00de150651",
      "name": "Já tem dieta?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5493b26-c7a4-4353-95bb-c3aeba91201a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4420,
        -960
      ],
      "id": "83d47f44-83de-4c5a-99a0-98ceb384361f",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a69c037c-8a23-44bc-886b-607495687b60",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5240,
        240
      ],
      "id": "63c0d01e-5f94-4f0a-b254-8d324588c359",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "25a2d426-914b-4155-8a51-6d0ad050302d",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5240,
        480
      ],
      "id": "92682802-293e-4d47-a9b8-0e3ff6454aef",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7df40a8f-e45f-4b8e-9b53-1241779aadf1",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5240,
        740
      ],
      "id": "0c8ef53a-22eb-488c-b756-338634303f32",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cba8d89d-a89a-44f8-88fa-3db23e2552f2",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5160,
        1060
      ],
      "id": "79e0aee8-914a-450e-9cba-1c027b9569a2",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5fc2e957-0a47-4127-8f07-7299bd7210f0",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4720,
        1260
      ],
      "id": "1b9ca756-fd1a-420f-b168-67a6ed282dd2",
      "name": "If6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a55ef95c-0d50-4e99-aa8c-e0db6b75768c",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4720,
        1500
      ],
      "id": "3067e837-1386-49dc-a050-dd085121d1c6",
      "name": "If7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e96bc71-95f1-4faa-bd1d-bd44ea85576a",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4740,
        1840
      ],
      "id": "7273fbbe-d4cd-4209-9cce-ffc469dd85db",
      "name": "If8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2e94a2c-7ea9-4b2f-a364-7087b579d5a6",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4800,
        2140
      ],
      "id": "2ffb334e-e952-4c8d-9153-ac2700d2e02d",
      "name": "If9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19a245e3-f13d-4b80-b128-1bb84cf9f868",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4800,
        2620
      ],
      "id": "30090032-be6b-4dd5-8204-1ffb3ae9552d",
      "name": "If10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30892285-c34b-48c6-a673-ef914efebd8f",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4800,
        2940
      ],
      "id": "b6ff72c7-36cc-4471-8717-3af45cc34082",
      "name": "If11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Por favor, digite a quantidade diária de carboidratos em gramas. (exemplo: 250g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5580,
        880
      ],
      "id": "c96ec222-a4b2-4066-9cb3-0a0d6b8e457d",
      "name": "qtd carbo1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_carbo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5760,
        880
      ],
      "id": "3258dcc8-6638-41c6-adea-e2a9868581f4",
      "name": "Supabase1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proteina_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5980,
        880
      ],
      "id": "9f9823b7-004f-44c2-a804-68e257ee22b7",
      "name": "Supabase3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "calorias_diarias",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5840,
        560
      ],
      "id": "3723a245-0523-49c4-9e85-35648ac8be63",
      "name": "Supabase9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Registrado! Agora, qual a quantidade diária de proteínas em gramas? (exemplo: 100g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5500,
        560
      ],
      "id": "852c1c92-a543-4eac-aa68-fc0aa286aae0",
      "name": "qtd proteina1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_proteina"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5680,
        560
      ],
      "id": "357e9115-8e46-4b65-a0df-8bd65a6af72b",
      "name": "update estado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Registrado! Agora, qual o seu peso atual em kg? (exemplo: 70)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5060,
        1680
      ],
      "id": "8802587d-dd25-406a-af65-8fadbfbd8e3f",
      "name": "info dieta",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_peso"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5280,
        1680
      ],
      "id": "f436a7a3-457b-4965-81bd-7adaee56029b",
      "name": "update estado12"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "altura",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5480,
        1680
      ],
      "id": "33da5581-6ff7-4d74-b4d4-96f842ef7183",
      "name": "Supabase22"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito! Qual a sua idade?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5100,
        2000
      ],
      "id": "c25ab61d-e970-480a-b643-5891b515402b",
      "name": "info dieta10",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_idade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5320,
        2000
      ],
      "id": "8949e9c1-2692-4f64-9341-ce4593118185",
      "name": "update estado13"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "peso",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5500,
        2000
      ],
      "id": "cf318f89-e2d2-42da-b8f0-0e3cdce208f1",
      "name": "Supabase23"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Agora, com qual sexo você se identifica?\n 1️⃣ Masculino\n 2️⃣ Feminino"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5100,
        2380
      ],
      "id": "df0bc5f1-e9d2-4e98-abee-e10917a195ad",
      "name": "info dieta11",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_sexo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5280,
        2380
      ],
      "id": "3a820007-fb73-48c2-a24a-3799bb4748ac",
      "name": "update estado14"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idade",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5440,
        2380
      ],
      "id": "ae3d79b2-74b8-467a-a0d5-df8b2603854a",
      "name": "Supabase26"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Entendido! Agora, qual é o seu nível de atividade física?\n 1️⃣ Sedentário (pouco ou nenhum exercício)\n 2️⃣ Levemente ativo (exercício leve 1-3 dias/semana)\n 3️⃣ Moderadamente ativo (exercício moderado 3-5 dias/semana)\n 4️⃣ Muito ativo (exercício intenso 6-7 dias/semana)\n 5️⃣ Extremamente ativo (trabalho físico ou exercício muito intenso)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5060,
        2780
      ],
      "id": "043c97af-cf71-4805-8cb1-d6d288958fa9",
      "name": "info dieta12",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_atividade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5220,
        2780
      ],
      "id": "f9bd7522-7e61-4c98-b5ab-44a071ac3b16",
      "name": "update estado15"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sexo",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5380,
        2780
      ],
      "id": "e5b12ff1-847f-47fb-b4a7-932de76bd54b",
      "name": "Supabase27"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Entendido! Agora, qual é o seu principal objetivo?\n1️⃣ Emagrecer\n2️⃣ Manter o peso\n3️⃣ Ganhar massa muscular"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5080,
        3100
      ],
      "id": "437a1b9a-de26-43cc-9519-c7e2582a8e91",
      "name": "info dieta13",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_objetivo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5280,
        3100
      ],
      "id": "41e2ddc1-9ec3-43ff-89f3-2cedba6b2e55",
      "name": "update estado16"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nivel_atividade",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5460,
        3100
      ],
      "id": "d286f587-2e37-485f-a016-1594902f21c0",
      "name": "Supabase28"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5020,
        -880
      ],
      "id": "13af145f-bf34-477e-892a-7c63e60d83e5",
      "name": "Cria novo usuário1"
    },
    {
      "parameters": {
        "tableId": "estados_conversa",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5220,
        -880
      ],
      "id": "4f2ffbf9-83c9-43db-be3c-d9fb5a7a3ab6",
      "name": "Inicializa estados_conversa1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "👋 Olá! Bem-vindo(a) ao CaloScan! Vamos personalizar sua experiência. Para começar, me diga seu nome completo."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5420,
        -880
      ],
      "id": "dfd83f31-9938-49f7-a4a4-c23925d2b7ad",
      "name": "Pergunta nome1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Cria novo usuário1').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "aguardando_nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5600,
        -880
      ],
      "id": "6e8827ee-9c2a-4a31-a0d7-a43c441ac935",
      "name": "Atualiza estado1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_altura"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5960,
        1380
      ],
      "id": "01e799cf-4bec-4909-86c4-2150ca54d541",
      "name": "update estado17"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Não entendi.\nQual a sua altura em centímetros? (exemplo: 175)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5760,
        1380
      ],
      "id": "e5b9beb4-30dc-4de5-86a3-457ac9d79b00",
      "name": "Inicializa criação dieta1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Estamos quase lá!\nPara ter acesso a todos os nossos benefícios, complete a assinatura através do link:\nhttps://buy.stripe.com/00wbJ1aR16Ko4PA61v7IY02"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4820,
        3340
      ],
      "id": "6161370a-4c8b-4f23-9f9f-63a9552d840e",
      "name": "info dieta14",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1440,
        80
      ],
      "id": "231235ca-3a80-4e62-a9fc-0b89eac2aef0",
      "name": "Supabase10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "861eb2d7-2abd-43af-b6d1-1f82f1ef6f43",
              "leftValue": "={{ $json.assinatura_ativa }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1220,
        80
      ],
      "id": "9401111b-3f75-40cf-a4f6-25f30f3d2b78",
      "name": "If12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Estamos quase lá!\nPara ter acesso a todos os nossos benefícios, complete a assinatura através do link:\nhttps://buy.stripe.com/00wbJ1aR16Ko4PA61v7IY02\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        600
      ],
      "id": "dcc2a06f-5b08-4ca9-85bf-324a8404f7fd",
      "name": "info dieta15",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "aguardando_pagamento"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -520,
        600
      ],
      "id": "2b960af1-c6a2-4296-bb32-dc51f0fbb803",
      "name": "Supabase29"
    },
    {
      "parameters": {
        "amount": 300
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -300,
        600
      ],
      "id": "8eaaf37d-850d-46af-8181-3556c5a84070",
      "name": "Wait",
      "webhookId": "9dd30069-0426-4428-8912-102aa03a3e45"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -80,
        600
      ],
      "id": "43928993-435a-41bc-893e-b9fef1932792",
      "name": "Supabase30"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df0cee08-b2ed-4cfe-ac60-9702bc0ebfb9",
              "leftValue": "={{ $json.assinatura_ativa }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        600
      ],
      "id": "4f103bdb-1848-419d-b675-9b23b5c8763e",
      "name": "If13"
    },
    {
      "parameters": {
        "tableId": "dados_subworkflow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone_usuario",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "dados",
              "fieldValue": "={{ $json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        400
      ],
      "id": "54f2e5fb-f810-47c7-86f4-55c97b8ebe03",
      "name": "Supabase25"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "906511c9-457d-4610-961d-d817039a350c",
              "name": "body.messageId",
              "value": "={{ $('Webhook').item.json.body.messageId }}",
              "type": "string"
            },
            {
              "id": "59f45bf0-18d5-408d-bb51-448d2afccbc7",
              "name": "body.phone",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "df0f1137-3fa2-4fbc-81e9-8e4d1dace7c0",
              "name": "body.chatName",
              "value": "={{ $('Webhook').item.json.body.chatName }}",
              "type": "string"
            },
            {
              "id": "aed460bc-bec5-4e9a-8c55-45247dc3478f",
              "name": "body.photo",
              "value": "={{ $('Webhook').item.json.body.photo }}",
              "type": "string"
            },
            {
              "id": "3ccd9ed9-d315-4b5c-b1d1-84d22fee88f2",
              "name": "body.image",
              "value": "={{ $('Webhook').item.json.body.image }}",
              "type": "object"
            },
            {
              "id": "19aae071-e4db-43f8-940e-f315dc43cd16",
              "name": "body.image.imageUrl",
              "value": "={{ $('Webhook').item.json.body.image.imageUrl }}",
              "type": "string"
            },
            {
              "id": "3bf4069e-8ae4-4d15-9bd9-4ff679a84f5d",
              "name": "body.image.thumbnailUrl",
              "value": "={{ $('Webhook').item.json.body.image.thumbnailUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        400
      ],
      "id": "71d0bea2-1107-4091-81fa-8792a6796495",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S4lBUlj6RB91UodT",
          "mode": "list",
          "cachedResultName": "barcode-workflow copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -240,
        400
      ],
      "id": "6b6cbbb5-4dd7-48fc-9745-c8f1ff260353",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Olá, {{ $('Webhook').item.json.body.chatName }}!\nQue bom te ver de volta.\nComo posso te ajudar?\n1️⃣ Enviar uma foto de uma refeição\n2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        400
      ],
      "id": "830683ea-7373-438b-b03f-b0eeb1abdb87",
      "name": "info dieta9",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "dados_subworkflow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone_usuario",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "dados",
              "fieldValue": "={{ $json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        740,
        540
      ],
      "id": "4f4624a1-dd5b-4de6-857c-7ac54d753105",
      "name": "Supabase31"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "906511c9-457d-4610-961d-d817039a350c",
              "name": "body.messageId",
              "value": "={{ $('Webhook').item.json.body.messageId }}",
              "type": "string"
            },
            {
              "id": "59f45bf0-18d5-408d-bb51-448d2afccbc7",
              "name": "body.phone",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "df0f1137-3fa2-4fbc-81e9-8e4d1dace7c0",
              "name": "body.chatName",
              "value": "={{ $('Webhook').item.json.body.chatName }}",
              "type": "string"
            },
            {
              "id": "aed460bc-bec5-4e9a-8c55-45247dc3478f",
              "name": "body.photo",
              "value": "={{ $('Webhook').item.json.body.photo }}",
              "type": "string"
            },
            {
              "id": "3ccd9ed9-d315-4b5c-b1d1-84d22fee88f2",
              "name": "body.image",
              "value": "={{ $('Webhook').item.json.body.image }}",
              "type": "object"
            },
            {
              "id": "19aae071-e4db-43f8-940e-f315dc43cd16",
              "name": "body.image.imageUrl",
              "value": "={{ $('Webhook').item.json.body.image.imageUrl }}",
              "type": "string"
            },
            {
              "id": "3bf4069e-8ae4-4d15-9bd9-4ff679a84f5d",
              "name": "body.image.thumbnailUrl",
              "value": "={{ $('Webhook').item.json.body.image.thumbnailUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        540
      ],
      "id": "fd148b68-d62d-414e-8a4b-9d86c74642df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Olá, {{ $('Webhook').item.json.body.chatName }}!\nQue bom te ver de volta.\nComo posso te ajudar?\n1️⃣ Enviar uma foto de uma refeição\n2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        540
      ],
      "id": "52ad4b83-b78b-48b3-aab4-7b65c0fa4ecb",
      "name": "info dieta16",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Não conseguimos identificar o seu pagamento...\nPara ter acesso a todos os nossos benefícios, complete a assinatura através do link:\nhttps://buy.stripe.com/00wbJ1aR16Ko4PA61v7IY02\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        760
      ],
      "id": "6218b40d-7e78-40fc-b71c-3968c66a7c39",
      "name": "info dieta17",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "aguardando_pagamento"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        620,
        760
      ],
      "id": "75366815-23c5-4b81-b0ca-05a52d122672",
      "name": "Supabase32"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "fluxo_real"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        540
      ],
      "id": "0b200e53-fa1d-406d-b99b-13b5dd2be2df",
      "name": "Supabase33"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.caloscan.com.br",
            "user-agent": "Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) FxiOS/111.0 Mobile/15E148 Safari/605.1.15",
            "content-length": "740",
            "content-type": "application/json",
            "origin": "https://api.z-api.io",
            "server": "Z-API",
            "via": "2.0 Caddy",
            "x-forwarded-for": "129.148.59.180",
            "x-forwarded-host": "n8n.caloscan.com.br",
            "x-forwarded-proto": "https",
            "z-api-token": "ED2BF32A855B887106BAAD09",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "isStatusReply": false,
            "chatLid": "143065528418477@lid",
            "connectedPhone": "5521974610397",
            "waitingMessage": false,
            "isEdit": false,
            "isGroup": false,
            "isNewsletter": false,
            "instanceId": "3E1D888E8D8DE07F56022E7FADD21987",
            "messageId": "3AB4E807F0862CD23D7F",
            "phone": "5521984138362",
            "fromMe": false,
            "momment": 1752184555000,
            "status": "RECEIVED",
            "chatName": "Giovanna Amaral",
            "senderPhoto": null,
            "senderName": "Giovanna Amaral",
            "photo": "https://pps.whatsapp.net/v/t61.24694-24/472760394_1134362931462857_6001521581082879376_n.jpg?ccb=11-4&oh=01_Q5Aa2AEf2QyYQwo0kjIvWQLymKMzqfpOVo4QS5PLDRNBoMSnLg&oe=687D329C&_nc_sid=5e03e0&_nc_cat=111",
            "broadcast": false,
            "participantLid": null,
            "forwarded": false,
            "type": "ReceivedCallback",
            "fromApi": false,
            "text": {
              "message": "24"
            }
          },
          "webhookUrl": "https://n8n.caloscan.com.br/webhook/2fbc3806-4f1c-4999-8b48-eb0367157651",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "BUSCA DIETA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Inicializa criação dieta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd calorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "main": [
        [
          {
            "node": "Supabase8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd calorias": {
      "main": [
        [
          {
            "node": "update estado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd proteina": {
      "main": [
        [
          {
            "node": "update estado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd carbo": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado1": {
      "main": [
        [
          {
            "node": "guarda o nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado2": {
      "main": [
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado3": {
      "main": [
        [
          {
            "node": "Supabase7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd gordura": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase4": {
      "main": [
        [
          {
            "node": "Supabase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase11": {
      "main": [
        [
          {
            "node": "Supabase12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase12": {
      "main": [
        [
          {
            "node": "Supabase13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase13": {
      "main": [
        [
          {
            "node": "qtd gordura1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado5": {
      "main": [
        []
      ]
    },
    "info dieta2": {
      "main": [
        [
          {
            "node": "update estado6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado6": {
      "main": [
        [
          {
            "node": "Supabase14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta3": {
      "main": [
        [
          {
            "node": "update estado7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado7": {
      "main": [
        [
          {
            "node": "Supabase15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta4": {
      "main": [
        [
          {
            "node": "update estado8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado8": {
      "main": [
        [
          {
            "node": "Supabase16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta5": {
      "main": [
        [
          {
            "node": "update estado9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado9": {
      "main": [
        [
          {
            "node": "Supabase17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta6": {
      "main": [
        [
          {
            "node": "update estado10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado10": {
      "main": [
        [
          {
            "node": "Supabase18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta7": {
      "main": [
        [
          {
            "node": "update estado11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado11": {
      "main": [
        [
          {
            "node": "Supabase19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase19": {
      "main": [
        [
          {
            "node": "Supabase20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase20": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase21": {
      "main": [
        [
          {
            "node": "info dieta8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase24": {
      "main": [
        [
          {
            "node": "info dieta14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ESTADO_C": {
      "main": [
        [
          {
            "node": "Já passou pelo onboarding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já passou pelo onboarding?": {
      "main": [
        [
          {
            "node": "BUSCA USUÁRIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA DIETA": {
      "main": [
        [
          {
            "node": "BUSCA ESTADO_C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA USUÁRIO": {
      "main": [
        [
          {
            "node": "primeira mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "primeira mensagem?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria novo usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria novo usuário": {
      "main": [
        [
          {
            "node": "Inicializa estados_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializa estados_conversa": {
      "main": [
        [
          {
            "node": "Pergunta nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pergunta nome": {
      "main": [
        [
          {
            "node": "Atualiza estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializa criação dieta": {
      "main": [
        [
          {
            "node": "update estado5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guarda o nome": {
      "main": [
        [
          {
            "node": "Já tem dieta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "update estado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria novo usuário1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "qtd proteina",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "qtd carbo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd proteina1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "qtd gordura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd carbo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Supabase11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "info dieta2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inicializa criação dieta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "info dieta3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "info dieta4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "info dieta5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "info dieta6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "info dieta7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd carbo1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd proteina1": {
      "main": [
        [
          {
            "node": "update estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado": {
      "main": [
        [
          {
            "node": "Supabase9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta": {
      "main": [
        [
          {
            "node": "update estado12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado12": {
      "main": [
        [
          {
            "node": "Supabase22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta10": {
      "main": [
        [
          {
            "node": "update estado13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado13": {
      "main": [
        [
          {
            "node": "Supabase23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta11": {
      "main": [
        [
          {
            "node": "update estado14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado14": {
      "main": [
        [
          {
            "node": "Supabase26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta12": {
      "main": [
        [
          {
            "node": "update estado15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado15": {
      "main": [
        [
          {
            "node": "Supabase27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta13": {
      "main": [
        [
          {
            "node": "update estado16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado16": {
      "main": [
        [
          {
            "node": "Supabase28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria novo usuário1": {
      "main": [
        [
          {
            "node": "Inicializa estados_conversa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializa estados_conversa1": {
      "main": [
        [
          {
            "node": "Pergunta nome1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pergunta nome1": {
      "main": [
        [
          {
            "node": "Atualiza estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializa criação dieta1": {
      "main": [
        [
          {
            "node": "update estado17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase10": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "info dieta9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta15": {
      "main": [
        [
          {
            "node": "Supabase29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase29": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Supabase30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase30": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase25": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta9": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase31": {
      "main": [
        [
          {
            "node": "Supabase33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta16": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "info dieta16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta17": {
      "main": [
        [
          {
            "node": "Supabase32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05d915c0-69d0-4d8d-93be-c4ec0b8be085",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47f5151e1feedfc56c8165323ec3b572b376ad9a1737b53f18d620111e7cf651"
  },
  "id": "MqLZpWo8Ail4r8FK",
  "tags": []
}