CaloScan/onboarding.json
{
  "name": "onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "44b25479-1cf5-4edc-8c21-cc62fc7d91da",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "7d5378bf-2e4b-47f3-bb64-b8a4e9939055",
      "name": "Webhook",
      "webhookId": "44b25479-1cf5-4edc-8c21-cc62fc7d91da"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cbc2dc42-22ff-4362-bfc6-cbebf8c9afa5",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        -20
      ],
      "id": "5e4cc505-e90a-44d1-8f32-c70179e7fa8a",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "bba979cb-9230-44c4-a3f3-355316b341be"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bef07082-c3c9-4da4-8f7a-6d5e345adff9",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "aguardando_nome",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ce2aa7e-0a90-4ae9-b8c3-6e4f4bcc157d",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "resposta_dieta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad710b87-dcfd-4122-baa2-6993883ae947",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "quantidade_calorias",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96f087a6-943b-471f-9926-2971c52b84c3",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "quantidade_proteina",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "621009d4-10db-443f-82da-c62cb19cfb56",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "quantidade_carbo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d59ea8b-4ca3-4c4b-bdc6-aff510a96d0c",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "quantidade_gordura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "842587fa-c8b0-48a8-8e26-5c9aaa0a5c22",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_altura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84f957f0-275b-4400-be71-db1192f97911",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_peso",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6217bc2-7998-45d2-9c8f-5c7a798ba7a3",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "=info_idade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "62a42355-40dc-4de3-b564-1b152d4878b8",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_sexo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3bb99ac-cd32-43d7-9942-b94688ca2bf1",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_atividade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "252e7a8f-42b8-4690-853d-e82b8c3b60e0",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "info_objetivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c461a63-1782-4ba7-9c7f-7353c475cac7",
                    "leftValue": "={{ $('If2').item.json.estado_atual }}",
                    "rightValue": "opcoes_fluxos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1800,
        -140
      ],
      "id": "6740834b-c5ae-4bfb-8cb7-9ec129ee4561",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2640,
        -120
      ],
      "id": "6d78de26-503e-4297-8b02-23103e4e9d4f",
      "name": "Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32671527-4b4e-4bc0-af28-cc615c062168",
              "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2340,
        80
      ],
      "id": "d18529cd-9351-4a1c-a1d3-4769406710d2",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tem_dieta_previa",
              "fieldValue": "True"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2820,
        300
      ],
      "id": "be4d28b5-00a3-48b2-9c63-88d95bfcd5b1",
      "name": "Supabase5",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "calorias_diarias",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2840,
        500
      ],
      "id": "84c5ecd5-6f4b-4ac0-bb5c-9cb4a39698d3",
      "name": "Supabase7",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "dietas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "fieldId": "data_criacao",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2960,
        300
      ],
      "id": "553bb4d0-8559-4896-a97d-69e8d61368b5",
      "name": "Supabase8",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1180,
        340
      ],
      "id": "a6b85f79-8d1e-4ce9-8e97-4b69d9f0b8c1",
      "name": "Supabase9",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "estados_conversa",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1340,
        340
      ],
      "id": "147afd8d-2dcc-4007-8c43-e94bd8ffd911",
      "name": "Supabase10",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "👋 Olá! Bem-vindo(a) ao CaloScan! Vamos personalizar sua experiência. Para começar, me diga seu nome completo."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        340
      ],
      "id": "d4b537db-72b9-4b30-a5ed-0f7234cba8db",
      "name": "HTTP Request4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito, {{ $('Webhook').item.json.body.text.message }}! \nAgora, me conte: você já tem uma dieta estabelecida?  \n1️⃣ Sim, já tenho uma dieta definida  \n2️⃣ Não, preciso de ajuda para criar uma "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        -120
      ],
      "id": "7f63df6d-4748-4dae-8831-e290d042e109",
      "name": "info dieta",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Legal! Vamos configurar sua dieta. Quantas calorias você consome por dia?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        300
      ],
      "id": "4714afbb-2bbf-40d6-81c3-7c9c0dcb8eb5",
      "name": "qtd calorias",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Registrado! Agora, qual a quantidade diária de proteínas em gramas? (exemplo: 100g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        500
      ],
      "id": "ea50af38-5de2-4221-8a57-01b566174e68",
      "name": "qtd proteina",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Ótimo! E a quantidade diária de carboidratos em gramas? (exemplo: 250g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        680
      ],
      "id": "0cdc9c5a-dc2a-44d1-8c94-75de23c5b410",
      "name": "qtd carbo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "👋 Olá! Bem-vindo(a) ao CaloScan! Vamos personalizar sua experiência. Para começar, me diga seu nome completo."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        -300
      ],
      "id": "a9967487-ce95-4a32-b564-ccaa9bc23a3f",
      "name": "rq nome",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Supabase1').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "aguardando_nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2500,
        -300
      ],
      "id": "9fa7a2eb-47e4-4990-a45a-fae0abe04b98",
      "name": "update estado",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "resposta_dieta"
            },
            {
              "fieldId": "dados_contexto",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2500,
        -120
      ],
      "id": "2d8494bf-c76f-45ba-8cd2-44c2dc3a1c3a",
      "name": "update estado1",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_calorias"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2680,
        300
      ],
      "id": "2758bc39-fe5b-474e-b506-5905c92eea7c",
      "name": "update estado2",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_proteina"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2680,
        500
      ],
      "id": "f1f838bd-8777-49f7-864b-9e1488d68634",
      "name": "update estado3",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Supabase9').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "aguardando_nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1620,
        340
      ],
      "id": "1544baaf-4c92-475e-9453-cd506027c967",
      "name": "update estado4",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_carbo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2740,
        680
      ],
      "id": "72b0b2ac-fbe6-4493-b762-afc2fd92db54",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proteina_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2960,
        680
      ],
      "id": "076e4eae-1aec-4037-8b18-4d870b1b8599",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito! Por último, qual a quantidade diária de gorduras em gramas? (exemplo: 70g)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        900
      ],
      "id": "6f1b984d-30f1-47cb-a101-57050307f293",
      "name": "qtd gordura",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "quantidade_gordura"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2680,
        900
      ],
      "id": "7627c3ed-9eec-4ddd-8a6f-550d3952b828",
      "name": "Supabase4",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "carboidrato_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2840,
        900
      ],
      "id": "6dc03c1a-e9bc-4fad-9809-0963cafd0ab4",
      "name": "Supabase6",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "opcoes_fluxos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2500,
        1120
      ],
      "id": "39e6072b-bde0-444f-a714-3ebbad77cf45",
      "name": "Supabase11",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "gordura_gramas",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2640,
        1120
      ],
      "id": "657ca7f3-b197-406e-a493-529cdfdffa22",
      "name": "Supabase12",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2800,
        1120
      ],
      "id": "a84d30c2-aa06-4e62-a9dd-05df8288ac73",
      "name": "Supabase13",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Sua dieta foi configurada com sucesso!\nCalorias diárias: {{ $json.calorias_diarias }} kcal\nProteínas: {{ $json.proteina_gramas }} g\nCarboidratos:{{ $json.carboidrato_gramas }}g\nGorduras: {{ $json.gordura_gramas }}g\n\n Agora você está pronto(a) para começar a registrar suas refeições!\n O que você gostaria de fazer agora?\n 1️⃣ Enviar uma foto de uma refeição\n 2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        1120
      ],
      "id": "e9ec5463-e979-4084-899a-2a5d5ac8216f",
      "name": "qtd gordura1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Sem problemas! Vamos criar sua dieta personalizada. Para isso, preciso de algumas informações.\n Qual a sua altura em centímetros? (exemplo: 175)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        60
      ],
      "id": "6942a651-f058-41bf-ac00-387719eed02e",
      "name": "info dieta1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_altura"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2760,
        60
      ],
      "id": "fa267f74-55f3-48bb-83fd-1225c054032d",
      "name": "update estado5",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Registrado! Agora, qual o seu peso atual em kg? (exemplo: 70)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        1340
      ],
      "id": "e9e6deae-c36f-4bf3-a59e-47c393035e7d",
      "name": "info dieta2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_peso"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2660,
        1340
      ],
      "id": "0bd89737-3012-4a59-bd0b-c6d4607987cb",
      "name": "update estado6",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "altura",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2820,
        1340
      ],
      "id": "b0681d6d-9f2e-4943-8a73-bdda85ae8a1c",
      "name": "Supabase14",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Perfeito! Qual a sua idade?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        1560
      ],
      "id": "04354bce-a2b1-4ab8-9478-1cf735efff3e",
      "name": "info dieta3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_idade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2640,
        1560
      ],
      "id": "d2b26540-4e18-451d-9575-8b01ea777edc",
      "name": "update estado7",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "peso",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2800,
        1560
      ],
      "id": "b2759578-6017-40dc-b392-7df28a7b831c",
      "name": "Supabase15",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Agora, com qual sexo você se identifica?\n 1️⃣ Masculino\n 2️⃣ Feminino"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        1760
      ],
      "id": "d66e713c-ccbb-4524-8ae6-918d36555408",
      "name": "info dieta4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_sexo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2640,
        1760
      ],
      "id": "91b2ae63-1a83-4288-a694-ceb13962969b",
      "name": "update estado8",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idade",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2800,
        1760
      ],
      "id": "548af69a-efeb-411a-a911-098e9a6d9981",
      "name": "Supabase16",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Entendido! Agora, qual é o seu nível de atividade física?\n 1️⃣ Sedentário (pouco ou nenhum exercício)\n 2️⃣ Levemente ativo (exercício leve 1-3 dias/semana)\n 3️⃣ Moderadamente ativo (exercício moderado 3-5 dias/semana)\n 4️⃣ Muito ativo (exercício intenso 6-7 dias/semana)\n 5️⃣ Extremamente ativo (trabalho físico ou exercício muito intenso)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        1960
      ],
      "id": "99051f35-ad0e-474c-9287-488ec34d7e48",
      "name": "info dieta5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_atividade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2620,
        1960
      ],
      "id": "11dbe728-9ff9-4dd0-8289-4f9f99d08302",
      "name": "update estado9",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sexo",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2780,
        1960
      ],
      "id": "e5c4f979-2419-4b42-82a2-5dbbfb9cc5d2",
      "name": "Supabase17",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Entendido! Agora, qual é o seu principal objetivo?\n1️⃣ Emagrecer\n2️⃣ Manter o peso\n3️⃣ Ganhar massa muscular"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        2160
      ],
      "id": "51bc8375-ba4c-46cc-80d9-435c9def0f00",
      "name": "info dieta6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "info_objetivo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2620,
        2160
      ],
      "id": "948d64c1-daf3-4e01-b005-ecf20a1c0842",
      "name": "update estado10",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nivel_atividade",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2800,
        2160
      ],
      "id": "11d818b8-f405-4b16-9ff5-a399a78f3e49",
      "name": "Supabase18",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Calculando sua dieta personalizada..."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        2380
      ],
      "id": "6de42d5b-c1b5-43fb-84c8-1b72dc8fd7c3",
      "name": "info dieta7",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "opcoes_fluxos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2620,
        2380
      ],
      "id": "f5f7a0e0-3296-4e72-9c63-297f50c0a8b7",
      "name": "update estado11",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "objetivo",
              "fieldValue": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2800,
        2380
      ],
      "id": "c2c69aca-b10a-4b87-a864-0423d8cced57",
      "name": "Supabase19",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2960,
        2380
      ],
      "id": "b0557219-b252-4b37-a205-810e790fc86d",
      "name": "Supabase20",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// --- PEGANDO VARIÁVEIS DIRETAMENTE DO NODE 'Supabase19' ---\n// Tentamos pegar as variáveis de forma segura. Se o nó Supabase19 não tiver esses campos,\n// eles serão undefined, e as conversões/validações abaixo lidarão com isso.\nconst itemSupabase = $('Supabase19').first().json;\n\n// Extração e conversão de valores para números.\n// Number() tentará converter e retornará NaN se não for um número válido.\nconst peso = Number(itemSupabase.peso);\nconst altura = Number(itemSupabase.altura);\nconst idade = Number(itemSupabase.idade);\n\n// Variáveis que podem ser strings. Usamos || \"\" para garantir que sejam strings vazias se undefined.\n// .toLowerCase() para padronizar as entradas.\nconst sexo = (itemSupabase.sexo || \"\").toLowerCase();\nconst objetivo = 'emagrecer';\n\n// parseInt() para nível de atividade. Usamos 10 para base decimal.\n// Se não for um número válido, será NaN, o que será tratado na validação.\nconst nivelAtividadeInput = parseInt(itemSupabase.nivel_atividade, 10);\nlet nivelAtividade = 2; // Valor padrão caso a entrada seja inválida ou fora da faixa\n\n// --- VALIDAÇÃO DE ENTRADAS CRÍTICAS ---\n// Retorna um erro se qualquer dado essencial for inválido.\n\n// 1. Validação de peso, altura, idade\nif (isNaN(peso) || peso <= 0 ||\n    isNaN(altura) || altura <= 0 ||\n    isNaN(idade) || idade <= 0) {\n  return [\n    {\n      json: {\n        erro: \"Erro: Peso, altura ou idade inválidos. Certifique-se de que são números positivos.\"\n      }\n    }\n  ];\n}\n\n// 2. Validação de sexo\nif (sexo !== \"masculino\" && sexo !== \"feminino\") {\n  return [\n    {\n      json: {\n        erro: \"Erro: Sexo inválido. Use 'masculino' ou 'feminino'.\"\n      }\n    }\n  ];\n}\n\n// 3. Validação de objetivo\n// Adicionando um array de objetivos válidos para validação mais robusta\nconst objetivosValidos = [\"emagrecer\", \"manter\", \"ganhar\"];\nif (!objetivosValidos.includes(objetivo)) {\n  return [\n    {\n      json: {\n        erro: `Erro: Objetivo inválido. Use um dos seguintes: ${objetivosValidos.join(', ')}.`\n      }\n    }\n  ];\n}\n\n// 4. Validação e ajuste de Nível de Atividade\n// Se o nível de atividade do input for um número válido e dentro da faixa, use-o.\n// Caso contrário, o 'nivelAtividade' já está definido como 2 (padrão).\nif (!isNaN(nivelAtividadeInput) && nivelAtividadeInput >= 1 && nivelAtividadeInput <= 5) {\n  nivelAtividade = nivelAtividadeInput;\n} else {\n    // Podemos retornar um aviso aqui ou apenas usar o padrão sem erro fatal\n    // console.warn(\"Aviso: Nível de atividade inválido. Usando o valor padrão (2 - atividade leve).\");\n}\n\n// --- FATORES DE ATIVIDADE (PARA CÁLCULO DO GET) ---\nconst fatoresAtividade = {\n  1: 1.2,    // Sedentário\n  2: 1.375,  // Levemente Ativo (1-3 dias/semana)\n  3: 1.55,   // Moderadamente Ativo (3-5 dias/semana)\n  4: 1.725,  // Muito Ativo (6-7 dias/semana)\n  5: 1.9     // Extremamente Ativo (Atletas, 2x ao dia)\n};\n\n// --- CÁLCULO DA TMB (TAXA METABÓLICA BASAL) ---\nlet tmb = 0;\nif (sexo === \"masculino\") {\n  tmb = (10 * peso) + (6.25 * altura) - (5 * idade) + 5;\n} else { // sexo === \"feminino\" (já validado)\n  tmb = (10 * peso) + (6.25 * altura) - (5 * idade) - 161;\n}\n\n// --- CÁLCULO DO GET (GASTO ENERGÉTICO TOTAL) ---\n// Usa o fator de atividade correspondente, ou 1.2 (sedentário) como fallback.\nconst fatorAtividadeAplicado = fatoresAtividade[nivelAtividade] || 1.2;\nlet calorias = tmb * fatorAtividadeAplicado;\n\n// --- AJUSTE DE CALORIAS PELO OBJETIVO ---\nif (objetivo === \"emagrecer\") {\n  calorias *= 0.8; // Reduz em 20%\n} else if (objetivo === \"ganhar\") {\n  calorias *= 1.15; // Aumenta em 15%\n}\ncalorias = Math.round(calorias); // Arredonda para o número inteiro mais próximo\n\n// --- CÁLCULO DOS MACRONUTRIENTES ---\nlet proteinaPorKg = 2.0; // Padrão\nlet gorduraPorKg = 0.8;  // Padrão\n\nif (objetivo === \"emagrecer\") {\n  proteinaPorKg = 2.2; // Maior para emagrecimento\n  gorduraPorKg = 0.7;  // Menor para emagrecimento\n} else if (objetivo === \"ganhar\") {\n  proteinaPorKg = 2.0; // Mantém\n  gorduraPorKg = 1.0;  // Um pouco mais para ganho\n}\n\nconst proteinas = Math.round(proteinaPorKg * peso);\nconst kcalProteinas = proteinas * 4; // 1g Proteína = 4 kcal\n\nconst gorduras = Math.round(gorduraPorKg * peso);\nconst kcalGorduras = gorduras * 9; // 1g Gordura = 9 kcal\n\n// Carboidratos preenchem o restante das calorias\nconst kcalRestantesParaCarboidratos = calorias - (kcalProteinas + kcalGorduras);\n// Garante que carboidratos não sejam negativos\nconst carboidratos = Math.max(0, Math.round(kcalRestantesParaCarboidratos / 4)); // 1g Carboidrato = 4 kcal\n\n// --- RETORNO DOS RESULTADOS ---\n// O N8N espera um array de objetos, onde cada objeto tem uma propriedade 'json'.\nreturn [\n  {\n    json: {\n      peso,\n      altura,\n      idade,\n      sexo,\n      objetivo,\n      nivelAtividade, // Nível de atividade final (pode ser o padrão 2)\n      tmb: Math.round(tmb), // Arredonda TMB para facilitar a leitura\n      fatorAtividadeAplicado, // O fator usado para o cálculo do GET\n      calorias, // Este é o GET final ajustado\n      proteinas,\n      carboidratos,\n      gorduras,\n      // Opcional: retornar as calorias de cada macronutriente para verificação\n      kcalProteinas,\n      kcalGorduras,\n      kcalCarboidratos: carboidratos * 4 // Calorias dos carboidratos\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        2380
      ],
      "id": "02c05c3e-363f-4ca8-a338-b7c0e89b6479",
      "name": "Code",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "tableId": "dietas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "calorias_diarias",
              "fieldValue": "={{ $json.calorias }}"
            },
            {
              "fieldId": "proteina_gramas",
              "fieldValue": "={{ $json.proteinas }}"
            },
            {
              "fieldId": "carboidrato_gramas",
              "fieldValue": "={{ $json.carboidratos }}"
            },
            {
              "fieldId": "gordura_gramas",
              "fieldValue": "={{ $json.gorduras }}"
            },
            {
              "fieldId": "data_criacao",
              "fieldValue": "={{ $today }}"
            },
            {
              "fieldId": "usuario_telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3280,
        2380
      ],
      "id": "7b2c2b7e-2aa3-4e59-8a07-64462ed114f3",
      "name": "Supabase21",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Sua dieta personalizada foi criada com sucesso! 🎉\n\nConfira os detalhes:\n- Calorias diárias: {{ $json.calorias_diarias }}kcal\n- Proteínas: {{ $json.proteina_gramas }}g\n- Carboidratos: {{ $json.carboidrato_gramas }}g\n- Gorduras: {{ $json.gordura_gramas }}g\n\nLembre-se que esta é uma estimativa. Para resultados ainda melhores, consulte um profissional de saúde.\n\n Agora você está pronto(a) para começar a registrar suas refeições!\n O que você gostaria de fazer agora?\n 1️⃣ Enviar uma foto de uma refeição\n 2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3460,
        2380
      ],
      "id": "b3edd751-9c21-487b-9167-b76f6c11a750",
      "name": "info dieta8",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S4lBUlj6RB91UodT",
          "mode": "list",
          "cachedResultName": "barcode-workflow copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2780,
        2700
      ],
      "id": "d8bcb108-fab3-4689-8d1d-45bc0adc5624",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dietas",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        60,
        0
      ],
      "id": "812ea818-7d7b-450e-ae0f-a5c6c3967ca3",
      "name": "Supabase22",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92a936be-352b-499e-91fb-0dc9d50093a2",
              "leftValue": "={{ $json.estado_atual }}",
              "rightValue": "fluxo_real",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        0
      ],
      "id": "fd71b8f8-619f-4ecb-9e41-29f5b4667946",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E1D888E8D8DE07F56022E7FADD21987/token/ED2BF32A855B887106BAAD09/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F60d85846fe6a4bfd986f72916b85da2fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "=Olá, {{ $('Webhook').item.json.body.chatName }}!\nQue bom te ver de volta.\nComo posso te ajudar?\n1️⃣ Enviar uma foto de uma refeição\n2️⃣ Consultar seu relatório de hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        640
      ],
      "id": "e50b14fb-5245-4690-b5de-0a1c4fad1d5b",
      "name": "info dieta9",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S4lBUlj6RB91UodT",
          "mode": "list",
          "cachedResultName": "barcode-workflow copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1720,
        640
      ],
      "id": "1bafb7e7-0a1d-447f-8e79-e0502786d6c2",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        280,
        0
      ],
      "id": "0df63316-be6a-4a75-8255-156fba04c9ac",
      "name": "Supabase23",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "estados_conversa",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_atual",
              "fieldValue": "fluxo_real"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2420,
        2700
      ],
      "id": "0a80492c-3d68-434f-9ef4-5ecfee3e9e64",
      "name": "Supabase24",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        780,
        0
      ],
      "id": "860710ae-cc72-4ebe-98cd-b433c0cbef03",
      "name": "Supabase1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "906511c9-457d-4610-961d-d817039a350c",
              "name": "body.messageId",
              "value": "={{ $('Webhook').item.json.body.messageId }}",
              "type": "string"
            },
            {
              "id": "59f45bf0-18d5-408d-bb51-448d2afccbc7",
              "name": "body.phone",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "df0f1137-3fa2-4fbc-81e9-8e4d1dace7c0",
              "name": "body.chatName",
              "value": "={{ $('Webhook').item.json.body.chatName }}",
              "type": "string"
            },
            {
              "id": "aed460bc-bec5-4e9a-8c55-45247dc3478f",
              "name": "body.photo",
              "value": "={{ $('Webhook').item.json.body.photo }}",
              "type": "string"
            },
            {
              "id": "3ccd9ed9-d315-4b5c-b1d1-84d22fee88f2",
              "name": "body.image",
              "value": "={{ $('Webhook').item.json.body.image }}",
              "type": "object"
            },
            {
              "id": "19aae071-e4db-43f8-940e-f315dc43cd16",
              "name": "body.image.imageUrl",
              "value": "={{ $('Webhook').item.json.body.image.imageUrl }}",
              "type": "string"
            },
            {
              "id": "3bf4069e-8ae4-4d15-9bd9-4ff679a84f5d",
              "name": "body.image.thumbnailUrl",
              "value": "={{ $('Webhook').item.json.body.image.thumbnailUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        640
      ],
      "id": "c3d968c1-f43f-415b-b2f4-6e282acec4c4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "tableId": "dados_subworkflow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone_usuario",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "dados",
              "fieldValue": "={{ $json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1540,
        640
      ],
      "id": "cd883214-40ce-43a8-99ee-9697fac55389",
      "name": "Supabase25",
      "credentials": {
        "supabaseApi": {
          "id": "vbkKtR4gnK3Q013f",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "rq nome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd proteina",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd carbo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd gordura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "info dieta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qtd calorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "main": [
        [
          {
            "node": "Supabase8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase9": {
      "main": [
        [
          {
            "node": "Supabase10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase10": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "update estado4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta": {
      "main": [
        [
          {
            "node": "update estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd calorias": {
      "main": [
        [
          {
            "node": "update estado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd proteina": {
      "main": [
        [
          {
            "node": "update estado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd carbo": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rq nome": {
      "main": [
        [
          {
            "node": "update estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado1": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado2": {
      "main": [
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado3": {
      "main": [
        [
          {
            "node": "Supabase7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qtd gordura": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase4": {
      "main": [
        [
          {
            "node": "Supabase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase11": {
      "main": [
        [
          {
            "node": "Supabase12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase12": {
      "main": [
        [
          {
            "node": "Supabase13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase13": {
      "main": [
        [
          {
            "node": "qtd gordura1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta1": {
      "main": [
        [
          {
            "node": "update estado5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado5": {
      "main": [
        []
      ]
    },
    "info dieta2": {
      "main": [
        [
          {
            "node": "update estado6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado6": {
      "main": [
        [
          {
            "node": "Supabase14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta3": {
      "main": [
        [
          {
            "node": "update estado7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado7": {
      "main": [
        [
          {
            "node": "Supabase15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta4": {
      "main": [
        [
          {
            "node": "update estado8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado8": {
      "main": [
        [
          {
            "node": "Supabase16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta5": {
      "main": [
        [
          {
            "node": "update estado9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado9": {
      "main": [
        [
          {
            "node": "Supabase17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta6": {
      "main": [
        [
          {
            "node": "update estado10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado10": {
      "main": [
        [
          {
            "node": "Supabase18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta7": {
      "main": [
        [
          {
            "node": "update estado11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update estado11": {
      "main": [
        [
          {
            "node": "Supabase19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase19": {
      "main": [
        [
          {
            "node": "Supabase20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase20": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase21": {
      "main": [
        [
          {
            "node": "info dieta8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase22": {
      "main": [
        [
          {
            "node": "Supabase23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info dieta9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info dieta9": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase23": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase24": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase25": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e44e6075-2cf8-4c24-abfc-a560cbeebfea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47f5151e1feedfc56c8165323ec3b572b376ad9a1737b53f18d620111e7cf651"
  },
  "id": "5X6N6tlrbl07bcjN",
  "tags": []
}